﻿
@{
    ViewBag.Title = "clinicalservices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Enrollment";
}

<div class="container body-content" style="margin-top:40px;">
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
        <tbody>
            <tr>
                <td style="width:25%">
                    <div style="width:240px;height: 50px;background-color: #ca343c;text-align: center;">
                        <span style="color:white;font-weight:bold;font-size:18px;">PCP Enrollment<br> &amp; Management</span>
                    </div>
                </td>
                <td style="width:25%">
                    <div style="width:240px;height: 50px;background-color: #ca343c;text-align: center;">
                        <span style="color:white;font-weight:bold;font-size:18px;">Clinical Services <br>Support</span>
                    </div>
                </td>
                <td style="width:25%">
                    <div style="width:240px;height: 50px;background-color: #ca343c;text-align: center;">
                        <span style="color:white;font-weight:bold;font-size:18px;">PCP Site <br>Visit</span>
                    </div>
                </td>
                <td style="width:25%">
                    Messages
                </td>
            </tr>
            <tr>
                <td style="width:25%;vertical-align:top">
                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">
                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left:25px">Networking</td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">
                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left:25px">Enrollm ent</td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">
                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left:25px">
                                    <a style="color:#060606;width:5px;vertical-align:top;padding-left:15px;position:relative;margin-left:5px" href="@Url.Action("Index", "PCPEnrollment")">
                                        <span> PCP Survey</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">
                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left:25px">Monitoring</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">
                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left:25px">Invesitgation <br>&amp; Disenrollment</td>
                            </tr>
                        </tbody>
                    </table>
                </td>




                <td style="width:25%;vertical-align:top">
                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">
                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left:25px">Mandated Attendance</td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">
                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left:25px">Reports</td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">
                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left:25px">Program Materials</td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">
                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left:25px">Travel</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">
                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left:25px">Expenses</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="width:25%;vertical-align:top">
                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">
                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left:25px">PCP Site Visit</td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">


                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left: 21px;">
                                    <div style="width:240px;height: 50px;background-color: #ca343c;text-align: center;margin-left: -22px;">
                                        <span style="color:white;font-weight:bold;font-size:18px;/* line-height: 1.8; */">Error<br>Remediation</span>
                                    </div> <br>Error Remediation
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px">
                                <td style="border-bottom:1px solid #797979;color:#060606;font-size:18px;padding:10px;padding-left: 20px;">
                                    <div style="width:240px;height: 50px;background-color: #ca343c;text-align: center;margin-left: -22px;">
                                        <a style="color:#060606;width:5px;vertical-align:top;padding-left:15px;position:relative;margin-left:5px" href="@Url.Action("Index", "PCPAssistance")" , onclick="navigationClick()">
                                            <span style="color:white;font-weight:bold;font-size:18px;/* line-height: 1.8; */">Recipient &amp; PCP <br>Assistance</span>
                                        </a>
                                    </div><br>Recipient &amp; PCP Assistance
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <table style="width:240px;" cellpadding="5" cellspacing="0">
                        <tbody>
                            <tr style="height:30px"></tr>
                        </tbody>
                    </table>
                </td>
                <td style="width:25%;vertical-align:top">
                    <p>
                    </p><ul>
                        <li>
                            ASP.NET is an open-source[2] server-side web application framework designed for web development to produce dynamic web pages.
                        </li>
                    </ul>
                    It was developed by Microsoft to allow programmers to build dynamic web sites, web applications and web services.
                    It was first released in January 2002 with version 1.0 of the .NET Framework, and is the successor to Microsoft's Active Server Pages (ASP) technology. ASP.NET is built on the Common Language Runtime (CLR), allowing programmers to write ASP.NET code using any supported .NET language. The ASP.NET SOAP extension framework allows ASP.NET components to process SOAP messages.
                    ASP.NET's successor is ASP.NET Core. It is a re-implementation of ASP.NET as a modular web framework, together with other frameworks like Entity Framework. The new framework uses the new open-source .NET Compiler Platform (codename "Roslyn") and is cross platform. ASP.NET MVC, ASP.NET Web API, and ASP.NET Web Pages (a platform using only Razor pages) have merged into a unified MVC 6
                    <p></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        var location = window.location.href;
        if (location.toLocaleLowerCase().lastIndexOf('pcpassistance/index') != -1) {
            $('#selectedHeading').css('background-color', '#2481c6');
            $('#selectedSpan').html('Clinical Services > PCP ASSistance');
        }
    });

    function navigationClick() {

        var location = window.location.href;

        if (location.toLocaleLowerCase().lastIndexOf('pcpassistance/index') != -1) {
            $('#selectedHeading').css('background-color', '#cb343c');
            $('#selectedSpan').html('<font style="font-size:25px">Clinical Services > PCP ASSistance</font>');
        }
    }
</script>