﻿@using EWC_NSAA.ViewModels;
@model EWC_NSAA.ViewModels.BarrierViewModel

<head>
    <style>
        .bnsmargin #barriersolution1 {
            padding-top: 15px !important;
        }
    </style>
</head>

<div class="panel panel-default" style="border:none" id="">
    <h3 style="padding-left:20px">   Barriers & Solutions</h3>
    <div class="panel-body">
        <div>
            <div class="row">
                <div class="col-md-3">
                    <label> Categories</label>

                    <div class="row tbarrier" id="dvBarrier1" style="color: rgb(78, 78, 70);margin-top:0px;vertical-align:top;white-space:nowrap;font-size:18px;padding: 12px;background-color: rgba(75, 174, 208, .5);">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: rgb(78, 78, 70);" onclick="GetBarrier(this,1)">Transportation and Logistics</a>
                        </div>
                    </div>
                    <div class="row tbarrier" id="dvBarrier2" style="margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:rgba(75, 174, 208, .5);">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: rgb(78, 78, 70);" onclick="GetBarrier(this, 2)">Language, Culture and Literacy</a>
                        </div>
                    </div>
                    <div class="row tbarrier" style="color: rgb(78, 78, 70); margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:rgba(75, 174, 208, .5);">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: rgb(78, 78, 70);" onclick="GetBarrier(this, 3)">Financial</a>
                        </div>
                    </div>
                    <div class="row tbarrier" style="color: rgb(78, 78, 70); margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:rgba(75, 174, 208, .5);">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: rgb(78, 78, 70);" onclick="GetBarrier(this, 4)">Health Literacy/Education</a>
                        </div>
                    </div>
                    <div class="row tbarrier" style="color: rgb(78, 78, 70); margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:rgba(75, 174, 208, .5);">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: rgb(78, 78, 70);" onclick="GetBarrier(this, 5)">PCP or Referral PCP</a>
                        </div>
                    </div>
                    <div class="row tbarrier" style="color: rgb(78, 78, 70); margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:rgba(75, 174, 208, .5);">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: rgb(78, 78, 70);" onclick="GetBarrier(this, 6)">Social Support/Distress</a>
                        </div>
                    </div>
                    <div class="row tbarrier" style=" margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:rgba(75, 174, 208, .5);">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: rgb(78, 78, 70);" onclick="GetBarrier(this, 7)">Other</a>
                        </div>
                    </div>
                    <input data-val="true" data-val-number="The field SelectedBarrierType must be a number." id="SelectedBarrierType" name="SelectedBarrierType" type="hidden" value="1">
                </div>
                <div class="col-md-3" style="margin-right: -15px; ">
                    <label> Barriers</label>
                    <div class="form-group">

                        <div id="divBarriers" class="Barriers">

                        </div>
                        @"N-IMPT", Value = "0"},
                        new { Text = "IMPT", Value = "1"}
                        }, "Value", "Text", "0")
                    </div>
                </div>
                <div class="col-md-6">
                    <label> Solutions</label>

                    <div class="form-horizontal">
                        <input data-val="true" data-val-number="The field SelectedBarrier must be a number." id="SelectedBarrier" name="SelectedBarrier" type="hidden" value="1">
                        <div id="divBarrierSolutions" class="Solutions bnsmargin">

                        </div>
                        <input id="SelectedSolution" name="SelectedSolution" type="hidden" value="0">
                        <input id="SelectedFollowupDt" name="SelectedFollowupDt" type="hidden" value="0">
                        <input id="SelectedImplementationStatus" name="SelectedImplementationStatus" type="hidden" value="0">
                    </div>

                </div>
            </div>
        </div>
        <br />
        <div class="panel-footer" style="border-top: none;">

            <div class="row">
                <div class="col-md-4 pull-right">
                    <div class="btn-group">
                        <a onclick="showHideTab('one')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> &lt;&lt; Previous  </a>
                        <a href=@Url.Action("create", "barriers") class="btn btn-success" style="background-color: #2485ca;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>
                        <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  Next &gt;&gt; </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



