﻿@using EWC_NSAA.ViewModels;
@model EWC_NSAA.ViewModels.BarrierViewModel
@using (Html.BeginForm())
{
    <div class="container body-content">
        <div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="row" style="color: #fff;margin-top:0px;vertical-align:top;white-space:nowrap;font-size:18px;padding: 12px;background-color: #009688;">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: #fff;" onclick="GetBarrier(1)">Transportation and Logistics</a>
                        </div>
                    </div>
                    <div class="row" style="color: #fff; margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:#696967;">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: #fff;" onclick="GetBarrier(2)">Language, Culture and Literacy</a>
                        </div>
                    </div>
                    <div class="row" style="color: #fff; margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:#696967;">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: #fff;" onclick="GetBarrier(3)">Financial</a>
                        </div>
                    </div>
                    <div class="row" style="color: #fff; margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:#696967;">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: #fff;" onclick="GetBarrier(4)">Health Literacy or Education</a>
                        </div>
                    </div>
                    <div class="row" style="color: #fff; margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:#696967;">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: #fff;" onclick="GetBarrier(5)">PCP or Referral PCP</a>
                        </div>
                    </div>
                    <div class="row" style="color: #fff; margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:#696967;">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: #fff;" onclick="GetBarrier(6)">Social Support or Distress</a>
                        </div>
                    </div>
                    <div class="row" style="color: #fff; margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:#696967;">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: #fff;" onclick="GetBarrier(7)">Other</a>
                        </div>
                    </div>
                    <div class="row" style="color: #fff; margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:#696967;">
                        <div class="col-lg-3">
                            <a style="cursor:pointer;color: #fff;" onclick="GetBarrier(8)">Referral</a>
                        </div>
                    </div>
                    <input data-val="true" data-val-number="The field SelectedBarrierType must be a number." id="SelectedBarrierType" name="SelectedBarrierType" type="hidden" value="1">
                </div>
                <div class="col-sm-9" style="vertical-align:top">
                    <div class="panel panel-default" id="nsEnrollmentFour" style="border-top:6px solid #009688;">

                        <div class="panel-body" style="">
                            <div class="form-horizontal">
                                <div id="divBarriers" class="Barriers" style="">

                                    <table cellpadding="3" style="width:100%;font-size:18px;">
                                        <tbody>
                                            <tr style="">
                                                <td style="/* width:12%; *//* text-align:left; */">
                                                    <table style="width:100%;background-color: #cfcfcf;border-radius: 6px;"><tbody><tr><td style="padding-right: 4px;vertical-align:top;/* width:3% */padding-top: 0px;"><input type="radio" style="height: 20px;width: 20px;margin-left: 4px;" name="barrier" id="barrier1" value="1" onchange="GetSolution(this.value)" autocomplete="off"></td><td style="text-align:left;/* padding-right: 10px; */">No car/access to or can’t afford public transportation</td></tr></tbody></table>
                                                </td>
                                                <td style="width:12%;text-align:left">
                                                    <table style="width:100%;background-color: #cfcfcf;border-radius: 6px;">
                                                        <tbody style="">
                                                            <tr>
                                                                <td style="padding-right:4px;vertical-align:top;/* width:3%; */padding-top: 0px;">
                                                                    <input type="radio" style="height: 20px;width: 20px;margin-left: 4px;" name="barrier" id="barrier2" value="2" onchange="GetSolution(this.value)" autocomplete="off">
                                                                </td>
                                                                <td style="text-align:left;padding-left: 0px;">Conflict between PCP and work schedules; can’t take time off work</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="width:12%;text-align:left"><table style="width:100%;background-color: #cfcfcf;border-radius: 6px;"><tbody><tr><td style="padding-right:2px;vertical-align:top;width:3%"><input type="radio" style="height: 20px;width: 20px;margin-left: 4px;" name="barrier" id="barrier3" value="3" onchange="GetSolution(this.value)" autocomplete="off"></td><td style="text-align:left;">Lack of coordination between services or service locations</td></tr></tbody></table></td>
                                            </tr>
                                            <tr style="">
                                                <td style="width:12%;text-align:left">
                                                    <table style="width:100%;background-color: #cfcfcf;border-radius: 6px;"><tbody><tr><td style="padding-right:2px;vertical-align:top;width:3%"><input type="radio" style="height: 20px;width: 20px;margin-left: 4px;" name="barrier" id="barrier4" value="4" onchange="GetSolution(this.value)" autocomplete="off"></td><td style="text-align:left;">Needs child or elder-care</td></tr></tbody></table>
                                                </td>
                                                <td>
                                                    <table style="width:100%;background-color: #cfcfcf;border-radius: 6px;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-right: 4px;vertical-align:top;padding-top: 0px;">
                                                                    <input type="radio" style="height: 20px;width: 20px;margin-left: 4px;" name="barrier" id="barrier5" value="5" onchange="GetSolution(this.value)" autocomplete="off">
                                                                </td>
                                                                <td style="text-align:left;">Disabled</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr><td colspan="3"><table style="width:100%;background-color: #009688;border-radius: 6px; color:#fff;"><tbody><tr><td><input type="radio" style="height: 20px;width: 20px;margin-left: 4px;" name="barrier" id="barrierOther" value="other" onchange="GetSolution()" autocomplete="off"></td><td>&nbsp;Other&nbsp;</td><td><input type="text" class="form-control"></td></tr></tbody></table></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <input data-val="true" data-val-number="The field SelectedBarrier must be a number." id="SelectedBarrier" name="SelectedBarrier" type="hidden" value="1">
                                <hr>
                                <div id="divBarrierSolutions" class="Solutions" style="font-size:18px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table width="">
                                                <tbody>
                                                    <tr><td width="50%">Solution</td><td width="20%">Follow up Date</td><td width="30%">Implementation Status</td></tr>
                                                    <tr><td width="55%"><input type="checkbox" name="barriersolution" id="barriersolution1" value="1">&nbsp;Find alternative PCP</td><td width="25%"><input type="text" name="followupdt" id="followupdt1" autocomplete="off"></td><td width="25%"><select name="implementationstatus" id="implementationstatus1"><option value="0">--Select--</option><option value="1">Implemented</option><option value="2">Not implemented</option></select></td></tr>
                                                    <tr>
                                                        <td width="50%" style="">
                                                            <input type="checkbox" name="barriersolution" id="barriersolution2" value="2">&nbsp;Discuss/identity public/personal transportation options
                                                        </td>
                                                        <td width="25%"><input type="text" name="followupdt" id="followupdt2"></td>
                                                        <td width="25%"><select name="implementationstatus" id="implementationstatus2"><option value="0">--Select--</option><option value="1">Implemented</option><option value="2">Not implemented</option></select></td>
                                                    </tr>
                                                    <tr><td width="50%"><input type="checkbox" name="barriersolution" id="barriersolution3" value="3">&nbsp;Discuss options for child/elder care; or identify PCP with appropriate service</td><td width="25%"><input type="text" name="followupdt" id="followupdt3"></td><td width="25%"><select name="implementationstatus" id="implementationstatus3"><option value="0">--Select--</option><option value="1">Implemented</option><option value="2">Not implemented</option></select></td></tr>
                                                    <tr><td width="50%"><input type="checkbox" name="barriersolution" id="barriersolution4" value="4">&nbsp;Assist coordinating appointments/travel; or arrival of records/information</td><td width="25%"><input type="text" name="followupdt" id="followupdt4"></td><td width="25%"><select name="implementationstatus" id="implementationstatus4"><option value="0">--Select--</option><option value="1">Implemented</option><option value="2">Not implemented</option></select></td></tr>
                                                    <tr><td width="50%"><input type="checkbox" name="barriersolution" id="barriersolution5" value="5">&nbsp;Coach on how to or communicate with PCP about special needs</td><td width="25%"><input type="text" name="followupdt" id="followupdt5"></td><td width="25%"><select name="implementationstatus" id="implementationstatus5"><option value="0">--Select--</option><option value="1">Implemented</option><option value="2">Not implemented</option></select></td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <input id="SelectedSolution" name="SelectedSolution" type="hidden" value="0">
                                <input id="SelectedFollowupDt" name="SelectedFollowupDt" type="hidden" value="0">
                                <input id="SelectedImplementationStatus" name="SelectedImplementationStatus" type="hidden" value="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('focus', ':input', function () {
            $(this).attr('autocomplete', 'off');
        });
    });

    $(function () {

        var links = $('.sidebar-links > a');

        links.on('click', function () {

            links.removeClass('selected');
            $(this).addClass('selected');

        })
    });
</script>

<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>

<script>
    $(function () {
        var count = 0;
        function GetBarrier(_barrierType) {
            alert("Barrier Type: " + _barrierType);
            $('#SelectedBarrierType').val(_barrierType);
            alert("after");
            var url = "/Barriers/BarrierTypePost/";

            $.ajax({
                url: url,
                data: { paramBarrierType: _barrierType },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<input type='radio' name='barrier' id='barrier" + count + "' value='" + data[x].Value + "' onchange='GetSolution(this.value)'>" + data[x].Text; +"&nbsp;"; //+ "<br />";
                        //alert(markup);
                    }
                    $("#divBarriers").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }
        function GetSolution(_barrier) {
            var _barriertype = $('#SelectedBarrierType').val();
            $('#SelectedBarrier').val(_barrier);
            var url = "/Barriers/BarrierPost/";
            $.ajax({
                url: url,
                data: { paramBarrierType: _barriertype },
                cache: false,
                type: "POST",
                success: function (data) {

                    var markup = "<div class='row'><div class='col-md-12'><table width='100%'><tr><td width='50%'>Solution</td><td width='25%'>Follow up Date</td><td width='25%'>Implementation Status</td></tr>";
                    for (var x = 0; x < data.length; x++) {

                        markup += "<tr><td width='50%'><input type='checkbox' name='barriersolution' id='barriersolution" + count + "' value='" + data[x].Value + "' required>&nbsp;" + data[x].Text + "</td><td width='25%'><input type='text' name='followupdt' id='followupdt" + count + "'></td><td width='25%'><select name='implementationstatus' id='implementationstatus" + count + "'><option value='0'>--Select--</option><option value='1'>Implemented</option><option value='2'>Not implemented</option></select></td></tr>";

                    }
                    markup += "</table></div></div>"
                    $("#divBarrierSolutions").html(markup).show();


                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }
        count++;
    });
    $(document).ready(function () {
        $('#submit').click(function () {
            var _solutions = "";
            var _followupdt = "";
            var _implementationstatus = "";
            $('input[type=checkbox]').each(function () {
                if (this.checked) {
                    _solutions += $(this).attr('id') + ':' + $(this).val() + ',';
                }
            });

            $('input[name=followupdt]').each(function () {
                _followupdt += $(this).attr('id') + ':' + $(this).val() + ',';
            });

            $('select[name=implementationstatus]').each(function () {
                _implementationstatus += $(this).attr('id') + ':' + $(this).val() + ',';
            });


            $('#SelectedSolution').val(_solutions);
            $('#SelectedFollowupDt').val(_followupdt);
            $('#SelectedImplementationStatus').val(_implementationstatus);

        });
    });



</script>

@*@*@using EWC_NSAA.ViewModels;
@model EWC_NSAA.ViewModels.BarrierViewModel
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-3">
            @foreach (var ls in EWC_NSAA.Controllers.BarriersController.GetBarrierTypeLookup())
                {
                <div class="row" style="color: #fff; margin-top:0px;vertical-align:top;white-space:nowrap; font-size:18px;padding: 12px; background-color:#696967;">
                    <div class="col-lg-3">
                        <a style="cursor:pointer;color: #fff;" onclick="GetBarrier(@ls.Value)">@ls.Text</a>
                    </div>
                </div>
            }
            @Html.Hidden("SelectedBarrierType", 0)
        </div>
        <div class="col-sm-8" style="vertical-align:top">
            <div class="panel panel-default" id="nsEnrollmentFour">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div id="divBarriers" class="Barriers">
                        </div>
                        @Html.Hidden("SelectedBarrier", 0)
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div id="divBarrierSolutions" class="Solutions">
                        </div>
                        @Html.Hidden("SelectedSolution", 0)
                        @Html.Hidden("SelectedFollowupDt", 0)
                        @Html.Hidden("SelectedImplementationStatus", 0)
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")*@
<script>
    //$(function () {
    //    var count = 0;
    //    function GetBarrier(_barrierType) {
    //        alert("Barrier Type: " + _barrierType);
    //        $('#SelectedBarrierType').val(_barrierType);
    //        alert("after");
    //        var url = "/Barriers/BarrierTypePost/";

    //        $.ajax({
    //            url: url,
    //            data: { paramBarrierType: _barrierType },
    //            cache: false,
    //            type: "POST",
    //            success: function (data) {
    //                var markup = "";
    //                for (var x = 0; x < data.length; x++) {
    //                    markup += "<input type='radio' name='barrier' id='barrier" + count + "' value='" + data[x].Value + "' onchange='GetSolution(this.value)'>" + data[x].Text; +"&nbsp;"; //+ "<br />";
    //                    //alert(markup);
    //                }
    //                $("#divBarriers").html(markup).show();
    //            },
    //            error: function (reponse) {
    //                alert("error : " + reponse);
    //            }
    //        });
    //    }
    //    function GetSolution(_barrier) {
    //        var _barriertype = $('#SelectedBarrierType').val();
    //        $('#SelectedBarrier').val(_barrier);
    //        var url = "/Barriers/BarrierPost/";
    //        $.ajax({
    //            url: url,
    //            data: { paramBarrierType: _barriertype },
    //            cache: false,
    //            type: "POST",
    //            success: function (data) {

    //                var markup = "<div class='row'><div class='col-md-12'><table width='100%'><tr><td width='50%'>Solution</td><td width='25%'>Follow up Date</td><td width='25%'>Implementation Status</td></tr>";
    //                for (var x = 0; x < data.length; x++) {

    //                    markup += "<tr><td width='50%'><input type='checkbox' name='barriersolution' id='barriersolution" + count + "' value='" + data[x].Value + "' required>&nbsp;" + data[x].Text + "</td><td width='25%'><input type='text' name='followupdt' id='followupdt" + count + "'></td><td width='25%'><select name='implementationstatus' id='implementationstatus" + count + "'><option value='0'>--Select--</option><option value='1'>Implemented</option><option value='2'>Not implemented</option></select></td></tr>";

    //                }
    //                markup += "</table></div></div>"
    //                $("#divBarrierSolutions").html(markup).show();


    //            },
    //            error: function (reponse) {
    //                alert("error : " + reponse);
    //            }
    //        });

    //    }
    //    count++;
    //});
    $(document).ready(function () {
        $("a").click(function () {
            $(this).toggleClass("eabgcolor");
            $("a").not(this).removeClass("eabgcolor");
        });


        $('#submit').click(function () {
            var _solutions = "";
            var _followupdt = "";
            var _implementationstatus = "";
            $('input[type=checkbox]').each(function () {
                if (this.checked) {
                    _solutions += $(this).attr('id') + ':' + $(this).val() + ',';
                }
            });

            $('input[name=followupdt]').each(function () {
                _followupdt += $(this).attr('id') + ':' + $(this).val() + ',';
            });

            $('select[name=implementationstatus]').each(function () {
                _implementationstatus += $(this).attr('id') + ':' + $(this).val() + ',';
            });


            $('#SelectedSolution').val(_solutions);
            $('#SelectedFollowupDt').val(_followupdt);
            $('#SelectedImplementationStatus').val(_implementationstatus);

        });
    });



</script>









