﻿
<div class="panel panel-default" style="border:none" id="patientServices1">
    <div class="panel-body" style="border:none">
        <label><b>1. Do you or your practice place an emphasis on serving any of the following population(s) ?  </b> <br />&nbsp;&nbsp;&nbsp;(Check all that apply)</label>
       <br /><br />
        <div class="row top-padding10">
            <div class="col-md-12">
                <div class="col-md-4">
                    <input id="chkspanish" type="checkbox" checked="">
                    <label for="checkbox1">
                        &nbsp;
                        Hispanic, Latino or Spanish test
                    </label>

                </div>
            </div>
            <div class="col-md-12" style="padding-top:7px">
                <div class="col-md-4">
                    <input id="chkafrican" type="checkbox">
                    <label for="chkafrican">
                        &nbsp;
                        Black or African Americans
                    </label>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="ddlafrican">
                        <option value="" selected="selected">Select</option>
                        <option value="1">African </option>
                        <option value="2">Other</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <div class="col-md-11" >
                        <input type="text" class="form-control" id="txtafrican" />
                    </div></div>
            </div>
            <div class="col-md-12" style="padding-top:7px">
                <div class="col-md-4">
                    <input id="chkasian" type="checkbox">
                    <label for="chkasian">
                        &nbsp;
                        Asians
                    </label>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="ddlasain">
                        <option value="" selected="selected">Select</option>
                        <option value="1">Asian Indian</option>
                        <option value="2">Other</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <div class="col-md-11">
                        <input type="text" class="form-control" id="txtasian" />
                    </div></div>
                </div>
            <div class="col-md-12" style="padding-top:7px">
                <div class="col-md-4">
                    <input id="chkpacific" type="checkbox">
                    <label for="chkpacific">
                        &nbsp;
                        Pacific Islanders
                    </label>
                </div>
                <div class="col-md-3">

                    <select class="form-control" id="ddlpacific">
                        <option value="" selected="selected">Select</option>
                        <option value="1">Samon</option>
                        <option value="2">Other pacific Islander</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <div class="col-md-11">
                        <input type="text" class="form-control" id="txtpacific" style="display:block; padding-right:45px;" />
                    </div></div>
                </div>

                <div class="col-md-12" style="padding-top:7px">
                    <div class="col-md-4">
                        <input id="chkother1" type="checkbox">
                        <label for="checkbox5">
                            &nbsp;
                            Other immigrant groups
                        </label>
                    </div>
                    <div class="col-md-4"><input type="text" class="form-control" id="txtother1" style="display:block;" /></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="col-md-12" style="padding-top:7px">
                    <div class="col-md-4">
                        <input id="checkbox6" type="checkbox" checked="">
                        <label for="checkbox6">
                            &nbsp;
                            Persons with disabilities
                        </label>
                    </div><div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>

                <div class="col-md-12" style="padding-top:7px">
                    <div class="col-md-8">
                        <input id="checkbox7" type="checkbox">
                        <label for="checkbox7">
                            &nbsp;
                            Lesbian, Gay, Bisexual, Transgender, and/or Queer (LGBTQ)
                        </label>
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <div class="col-md-12" style="padding-top:7px">
                    <div class="col-md-6">
                        <input id="checkbox8" type="checkbox" checked="">
                        <label for="checkbox8">
                            &nbsp;
                            American Indian or Alaskan Native
                        </label>
                    </div><div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="col-md-12" style="padding-top:7px">
                    <div class="col-md-6">
                        <input id="checkbox9" type="checkbox">
                        <label for="checkbox9">
                            &nbsp;
                            Rural, geographically isolated or frontier residents,
                        </label>
                    </div>
                    <div class="col-md-4"><input type="text" class="form-control" id="txtrural" /></div>
                </div>

                <div class="col-md-12" style="padding-top:7px">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-2">
                                <input id="checker9" type="checkbox">
                                <label for="checker9">
                                    &nbsp;
                                    Other
                                </label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="other2" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>
    <br />

    <div class="panel-footer" style="border-top: none;">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 ">
                <div class="col-md-12" style="text-align:right">

                    <a onclick="showHideTab('one')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                    <a onclick="showHideTab('patientServices2')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="panel panel-default" style="border:none" id="patientServices2">

    <div class="panel-body " style="background-color:#fff;">

        <b>2. What languages do you support at this location?  <br />&nbsp;&nbsp;&nbsp;(Check all that apply)</b>
     <br /><br />
        <div class="row col-md-12" >
            <div class="col-md-4 top-padding7">
                <input id="checkbox2" type="checkbox">
                <label for="checkbox2">
                    &nbsp;
                    Spanish
                </label>
            </div>
            <div class="col-md-4 top-padding7">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    Russian/Ukrainian
                </label>

            </div>

            <div class="col-md-4 top-padding7">
                <input id="checkbox2" type="checkbox" checked="">
                <label for="checkbox2">
                    &nbsp;
                    French
                </label>
            </div>
            <div class="col-md-4 " style="padding-top:7px">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    Cambodian/Khmer
                </label>

            </div>
            <div class="col-md-4 " style="padding-top:7px">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    Hindi
                </label>

            </div>
            <div class="col-md-4 " style="padding-top:7px">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    Urdu
                </label>

            </div>

            <div class="col-md-4" style="padding-top:7px">
                <input id="checkbox2" type="checkbox" checked="">
                <label for="checkbox2">
                    &nbsp;
                    Vietnamese
                </label>

            </div>
            <div class="col-md-4" style="padding-top:7px;">
                <input id="checkbox2" type="checkbox" checked="">
                <label for="checkbox2">
                    &nbsp;
                    Punjabi
                </label>

            </div>
            <div class="col-md-4" style="padding-top:7px;">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    Laotian
                </label>
            </div>
            <div class="col-md-4" style="padding-top:7px;">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    Hmong
                </label>

            </div>
            <div class="col-md-4" style="padding-top:7px;">
                <input id="checkbox2" type="checkbox" checked="">
                <label for="checkbox2">
                    &nbsp;
                    Arabic
                </label>

            </div>
            <div class="col-md-4" style="padding-top:7px;">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    Mixteco
                </label>

            </div>
            <div class="col-md-4" style="padding-top:7px;">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    Cantonese
                </label>

            </div><div class="col-md-4" style="padding-top:7px;">
                <input id="checkbox2" type="checkbox" checked="">
                <label for="checkbox2">
                    &nbsp;
                    Farsi
                </label>

            </div>
            <div class="col-md-4" style="padding-top:7px;">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    Japanese
                </label>

            </div>

            <div class="col-md-4 " style="padding-top:7px">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    Mandarin
                </label>

            </div><div class="col-md-4 " style="padding-top:7px">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    French
                </label>

            </div><div class="col-md-4 " style="padding-top:7px">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    American Sign Language (ASL)
                </label>
            </div>
            <div class="col-md-4 " style="padding-top:7px">
                <input id="checkbox2" type="checkbox">
                <label for="checkbox2">
                    &nbsp;
                    Korean
                </label>

            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4" style="padding-top:7px">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    Armenian
                </label>

            </div>
            <div class="col-md-4" style="padding-top:7px">

                <input id="checkbox2" type="checkbox" checked="">
                <label for="checkbox2">
                    &nbsp;
                    Thai
                </label>
            </div>


            <div class="col-md-4" style="padding-top:7px">
                <input id="checkbox2" type="checkbox">
                <label for="checkbox2">
                    &nbsp;
                    Taglog
                </label>

            </div>
            <div class="col-md-6 " style="padding-top:7px">



                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2">
                    &nbsp;
                    Interpretative/Translation Service

                </label>
            </div>
            <div class="row col-md-12" style="padding-top:7px">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2">
                            <input id="chklother" type="checkbox">
                            <label for="chklother">
                                &nbsp;
                                Other
                            </label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="txtlother" />
                        </div>
                        <div class="col-md-1">
                            @*<a class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="btnaddpatietntservices"> Add </a>*@
                        </div>
                    </div>
                </div>

            </div>



        </div>

    </div>
    <br />
    <div class="panel-footer" style="border-top: none;">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 ">
                <div class="col-md-12" style="text-align:right">

                    <a onclick="showHideTab('patientServices1')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                    <a onclick="showHideTab('patientServices3')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                </div>
            </div>

        </div>
    </div>

</div>







<div class="panel panel-default" style="border:none;display:none" id="patientServices3">



    <div class="panel-body" style="background-color:#fff;">
        <b> 3. Which clinical services do you offer at your primary service location and which services do you refer patients?</b>
        <br /><br />
        @*<div class="" style="padding-left:34px;">*@
        <div class="col-md-7 top-padding10" style="padding-left:34px;">
            <div class="row bg-primary col-md-12" style="line-height:46px;">
                <div class="col-md-6"></div>
                <div class="col-md-4 text-center">On Site</div>
                <div class="col-md-2 text-center">Refer</div>
            </div>

            @*<div class="row bg-primary col-md-8" style="line-height:46px;">
                    <div class="col-md-5"></div>
                    <div class="col-md-2 text-center">On Site</div>
                    <div class="col-md-1 text-center">Refer</div>
                </div>*@
            <div class="row bottom col-md-12" style="line-height: 46px;padding-left: 0;">
                <div class="col-md-6" style="padding-left:10px;">Screening mammogram</div>
                <div class="col-md-4 text-center" style="padding-left:42px; padding-top: 5px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-left:40px;padding-top:5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>


            @*<div class="row bottom col-md-8" style="line-height: 46px;">
                    <div class="col-md-5">Screening mammogram</div>
                    <div class="col-md-2 text-center">
                        <div class="checkbox">
                            <input type="checkbox" value="">
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <div class="checkbox">
                            <input type="checkbox" value="">
                        </div>
                    </div>
                </div>*@

            <div class="row bottom col-md-12" style="line-height: 46px;padding-left: 0;">
                <div class="col-md-6" style="padding-left:10px;">Diagnostic mammogram</div>
                <div class="col-md-4 text-center" style="padding-left:42px; padding-top: 5px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-left:40px;padding-top:5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>


            <div class="row bottom col-md-12" style="line-height: 46px;padding-left: 0;">
                <div class="col-md-6" style="padding-left:10px;">Breast ultrasound</div>
                <div class="col-md-4 text-center" style="padding-left:42px; padding-top: 5px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-left:40px;padding-top:5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>
            <div class="row bottom col-md-12" style="line-height: 46px;padding-left: 0;">
                <div class="col-md-6" style="padding-left:10px;">Breast biopsy</div>
                <div class="col-md-4 text-center" style="padding-left:42px; padding-top: 5px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-left:40px;padding-top:5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div><div class="row bottom col-md-12" style="line-height: 46px;padding-left: 0;">
                <div class="col-md-6" style="padding-left:10px;">Colposcopy</div>
                <div class="col-md-4 text-center" style="padding-left:42px; padding-top: 5px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-left:40px;padding-top:5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div><div class="row bottom col-md-12" style="line-height: 46px;padding-left: 0;">
                <div class="col-md-6" style="padding-left:10px;">Excisional methods</div>
                <div class="col-md-4 text-center" style="padding-left:42px; padding-top: 5px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-left:40px;padding-top:5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>



            <div class="row bottom col-md-12" style="padding-left: 0;">
                <div class="col-md-6" style="padding-left:10px;">Ablative techniques (e.g., cryotherapy, CO2 laser)</div>
                <div class="col-md-4 text-center" style="padding-left:42px; padding-top: 5px;">

                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="padding-left:40px;padding-top:5px;">
                    <div class="checkbox">
                        <input type="checkbox" value="">
                    </div>
                </div>
            </div>


        </div>

        <br />







    </div><br />
    <div class="panel-footer" style="border-top: none;">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 ">
                <div class="col-md-12" style="text-align:right">

                    <a onclick="showHideTab('patientServices2')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                    <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                </div>
            </div>

        </div>
    </div>
    @*<div class="panel-footer" style="border-top: none;">
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <div class="">
                        <a onclick="showHideTab('patientServices2')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;"> &lt;&lt; Previous  </a>

                        <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;">  Next &gt;&gt; </a>
                    </div>
                </div>
            </div>
        </div>*@
</div>





<script>



    $(document).ready(function () {
        var checkbox = $('#chkafrican');
        var dependent = $('#ddlafrican');
        var txtafr = $('#txtafrican');

        if (checkbox.attr('checked') !== undefined) {
            dependent.show();
        }
        else {
            dependent.hide();

        }
        if (checkbox.removeAttr('checked') == "true") {
            $('#txtasian').hide();
        }

        checkbox.change(function (e) {
            $('#txtafrican').hide();
            dependent.toggle();

        });
    });


    //showHideRace = function (ctrl) {
    
    //    if (ctrl.id == 'chkafrican') {

    //    }
    //    else
    //        $('#txtafrican').css("display", "none");

    //}

    $('#ddlasain').change(function () {
        if ($('#ddlasain option:selected').text() == "Other") {
            $('#txtasian').show();
        }
        else {
            $('#txtasian').hide();
        }
    });
    $('#ddlpacific').change(function () {
        if ($('#ddlpacific option:selected').text() == "Other pacific Islander") {
            //if('#ddlpacific option:selected').text() == "Other pacific Islander") {

            $('#txtpacific').show();
        }
        else {
            $('#txtpacific').hide();
        }
    });

    $('#ddlafrican').change(function () {
        if ($('#ddlafrican option:selected').text() == "Other") {

            $('#txtafrican').show();
        }
        else {
            $('#txtafrican').hide();
        }
    });
    $(document).ready(function () {
        $('#ddlasain ').hide();
        $('#ddlpacific').hide();

        $('#ddlafrican').hide();

        $('#txtafrican').hide();
        $('#txtasian').hide();
        $('#txtpacific').hide();

        $('#txtlother').hide();

        var checkbox = $('#chkother1');
        var dependent = $('#txtother1');
        if (checkbox.attr('checked') !== undefined) {
            dependent.show();
        } else {
            dependent.hide();
        }
        checkbox.change(function (e) {
            dependent.toggle();
        });
    });
    $(document).ready(function () {
        var checkbox = $('#chkasian');
        var dependent = $('#ddlasain');
        var checktxtasaian = $('#txtasian');

        if (checkbox.attr('checked') !== undefined) {
            dependent.show();
        } else {
            $('#txtasian').hide();
            dependent.hide();
            //checktxtasaian.hide();

        }

        checkbox.change(function (e) {
            $('#txtasian').hide();
            dependent.toggle();

            //checktxtasaian.toggle();
        });
    });
    $(document).ready(function () {
        var checkbox = $('#chkpacific');
        var dependent = $('#ddlpacific');
        var checktxtpacific = $('#txtpacific');
        if (checkbox.attr('checked') !== undefined) {
            dependent.show();
        } else {
            dependent.hide();

        }

        checkbox.change(function (e) {
            $('#txtpacific').hide();
            dependent.toggle();
            //checktxtpacific.toggle();
        });
    });
    //function showselected(ctrl) {
    //    var checkbox = $('#chkafrican');
    //    if (checkbox.removeAttr('checked') !== "true") {
    //        $('#txtasian').hide();
    //    }
    //}
    //if (ctrl.id == 'Other') {
    //    $('#relationother').css("display", "block");
    //}


    $(document).ready(function () {
        var checkbox = $('#checkbox9');
        var dependent = $('#txtrural');
        if (checkbox.attr('txtrural') !== undefined) {
            dependent.show();
        } else {
            dependent.hide();
        }

        checkbox.change(function (e) {
            dependent.toggle();
        });
    });

    $(document).ready(function () {
        var checkbox = $('#checker');
        var dependent = $('#dependent-box');
        if (checkbox.attr('checked') !== undefined) {
            dependent.show();
        } else {
            dependent.hide();
        }

        checkbox.change(function (e) {
            dependent.toggle();
        });
    });




    $(document).ready(function () {
        var checkbox = $('#checker1');
        var dependent = $('#dependent-box1');
        if (checkbox.attr('checked') !== undefined) {
            dependent.show();
        } else {
            dependent.hide();
        }

        checkbox.change(function (e) {
            dependent.toggle();
        });
    });
    //kv
    $(document).ready(function () {




        var checkboxlother = $('#chklother');
        var dependenttxtlother = $('#txtlother');
        var dependentbtnpatientservices = $('#btnaddpatietntservices');

        if (checkboxlother.attr('checked') !== undefined) {
            dependenttxtlother.show();
            dependentbtnpatientservices.show();
        } else {
            dependenttxtlother.hide();
            dependentbtnpatientservices.hide();
        }

        checkboxlother.change(function (e) {
            dependenttxtlother.toggle();
            dependentbtnpatientservices.toggle();
        });



        var checkbox = $('#checker9');
        var dependent = $('#other2');

        var checkbtnotherpatient = $('#btnotherpatient');
        if (checkbox.attr('checked') !== undefined) {
            dependent.show();
            checkbtnotherpatient.show();
        } else {
            dependent.hide();
            checkbtnotherpatient.hide();
        }

        checkbox.change(function (e) {
            dependent.toggle();
            checkbtnotherpatient.toggle();

        });
    });
    $(document).ready(function () {
        var checkbox = $('#checker2');
        var dependent = $('#dependent-box2');
        if (checkbox.attr('checked') !== undefined) {
            dependent.show();
        } else {
            dependent.hide();
        }

        checkbox.change(function (e) {
            dependent.toggle();
        });
    });

</script>
