﻿
<div class="panel panel-default" style="border:none">
    <div class="panel-body" style="margin-bottom:-50px;padding-left:20px;">
        <b> 17. Please tell us about your key staff. </b> <br />
        <br />
        <div class="row">
            <div class="col-md-3 " style="text-align:center">
            </div>
            <div class="col-md-4 " style="text-align:center">
                <label>Primary Service Location</label>
            </div>
            <div class="col-md-4" style="text-align:center">
                <form>
                    <div class="form-group form-inline">
                        <label for="serviceLocation # ">Service Location&nbsp;&nbsp;</label>
                        <select class="form-control" id="sel1">
                            <option>   1    </option>
                            <option>  2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>


        <div class="row " style="padding-left:20px;">
            <div class="col-md-3 bottom" style="padding-top:28px;padding-bottom:30px;text-align:left">
                <div class="row">

                    <label style="margin-left:-1px;">Name </label>
                </div>
                <div class="row" style="padding-top:23px;">
                    <label style="margin-left:-1px;">Title</label>

                </div>
                <div class="row" style="padding-top:23px;">
                    <label style="margin-left:-1px;">Staff Type</label>

                </div>
                <div class="row" style="padding-top:23px;">
                    <label style="margin-left:-1px;">Phone &  Ext</label>

                </div>
                <div class="row" style="padding-top:20px;">
                    <label style="margin-left:-1px;">Email</label>

                </div>
                <div class="row" style="padding-top:20px;">
                    <label style="margin-left:-1px;">Communication Type</label>

                </div>
                <div class="row" style="padding-top:20px;">
                    <label style="margin-left:-1px;">Type of Contact</label>

                </div>
            </div>
            <div class="col-md-4 bottom" style="padding-left:20px; background-color:cadetblue;padding-bottom:18px;">
                <div class="row" style="padding-top:20px; background-color:cadetblue;">
                    <div class="col-md-12">
                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">
                    </div>
                </div>
                <div class="row" style="padding-top:20px;">

                    <div class="col-md-5" style="width:135px;">
                        <select class="form-control" id="sel1">
                            <option></option>
                            <option>2 2</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" style="margin-left:-20px;width:115%;" name="contact name" id="contact name" placeholder="Other" type="text" required="" autofocus="">

                    </div>
                </div>
                <div class="row" style="padding-top:20px;background-color:cadetblue;">

                    <div class="col-md-7">
                        <select class="form-control" id="sel1">
                            <option>Staff Type</option>
                            <option>Staff Type 2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>

                    </div>
                </div>

                <div class="row" style="padding-top:20px;background-color:cadetblue;">

                    <div class="col-md-8 form-group">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input class="form-control" name="contact name" id="secstaffphone1" type="text" required="" autofocus="">

                        </div>
                    </div>

                    <div class="col-md-4">
                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="" style="margin-left:-20px;width:120%;">

                    </div>

                </div>


                <div class="row" style="padding-top:5px;background-color:cadetblue;">
                    <div class="col-md-12">


                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </div>
                                <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">

                            </div>
                        </div>


                    </div>

                </div>
                <div class="row" style="background-color:cadetblue;">
                    <div class="col-md-7">

                        <select class="form-control" id="sel1">
                            <option>Phone</option>
                            <option>Email</option>
                            <option>Face to Face</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="padding-top:20px;padding-bottom:20px;margin-right:-90px; background-color:cadetblue;">
                    <div class="col-md-7">

                        <label class="checkbox-inline text-center"><input type="checkbox" value="" id="chkClinicTwo">&nbsp;&nbsp;Clinic</label>&nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline text-center"><input type="checkbox" value="" id="chkAdminTwo">&nbsp;&nbsp;Admin</label>
                    </div>
                </div>

            </div>
            <div class="col-md-4 bottom" style="padding-left:20px;padding-bottom:30px; background-color:lightgray;padding-bottom:18px;">
                <div class="row" style="padding-top:20px; background-color:lightgray;">
                    <div class="col-md-12">
                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">
                    </div>
                </div>

                <div class="row" style="padding-top:20px;">

                    <div class="col-md-5" style="width:135px;">
                        <select class="form-control" id="sel1">
                            <option></option>
                            <option>2 2</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" style="margin-left:-20px;width:115%;" name="contact name" id="contact name" placeholder="Other" type="text" required="" autofocus="">

                    </div>
                </div>

                <div class="row" style="padding-top:20px;background-color:lightgray;">

                    <div class="col-md-6">
                        <select class="form-control" id="sel1">
                            <option>Staff Type</option>
                            <option>Staff Type 2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>

                    </div>
                </div>

                <div class="row" style="padding-top:20px;background-color:lightgray;">

                    <div class="col-md-8 form-group">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input class="form-control" name="contact name" id="secstaffphone1" type="text" required="" autofocus="">

                        </div>
                    </div>

                    <div class="col-md-4">
                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="" style="margin-left:-20px;width:120%;">

                    </div>

                </div>


                <div class="row" style="padding-top:5px;background-color:lightgray;">
                    <div class="col-md-12">


                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </div>
                                <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">

                            </div>
                        </div>


                    </div>

                </div>
                <div class="row" style="background-color:lightgray;">
                    <div class="col-md-7">

                        <select class="form-control" id="sel1">
                            <option>Phone</option>
                            <option>Email</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="padding-top:20px;padding-bottom:20px; background-color:lightgray;">
                    <div class="col-md-6">

                        <label class="checkbox-inline text-center"><input type="checkbox" value="" id="chkClinicTwo">&nbsp;&nbsp;Clinic</label>&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="col-md-6">
                        <label class="checkbox-inline text-center"><input type="checkbox" value="" id="chkAdminTwo">&nbsp;&nbsp;Admin</label>
                    </div>
                </div>

            </div>


        </div>



        <div class="row" style="padding-left:20px;">
            <div class="col-md-3 " style="padding-top:28px;text-align:left">
                <div class="row">

                    <label style="margin-left:-1px;">Name </label>
                </div>
                <div class="row" style="padding-top:23px;">
                    <label style="margin-left:-1px;">Title</label>

                </div>
                <div class="row" style="padding-top:23px;">
                    <label style="margin-left:-1px;">Staff Type</label>

                </div>
                <div class="row" style="padding-top:23px;">
                    <label style="margin-left:-1px;">Phone &  Ext</label>

                </div>
                <div class="row" style="padding-top:20px;">
                    <label style="margin-left:-1px;">Email</label>

                </div>
                <div class="row" style="padding-top:20px;">
                    <label style="margin-left:-1px;">Communication Type</label>

                </div>
                <div class="row" style="padding-top:20px;">
                    <label style="margin-left:-1px;">Type of Contact</label>

                </div>
            </div>
            <div class="col-md-4 bottom" style="padding-left:20px; background-color:cadetblue;padding-bottom:18px;">
                <div class="row" style="padding-top:20px; background-color:cadetblue;">
                    <div class="col-md-12">
                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">
                    </div>
                </div>
                <div class="row" style="padding-top:20px;">

                    <div class="col-md-5" style="width:135px;">
                        <select class="form-control" id="sel1">
                            <option></option>
                            <option>2 2</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" style="margin-left:-20px;width:115%;" name="contact name" id="contact name" placeholder="Other" type="text" required="" autofocus="">

                    </div>
                </div>
                <div class="row" style="padding-top:20px;background-color:cadetblue;">

                    <div class="col-md-7">
                        <select class="form-control" id="sel1">
                            <option>Staff Type</option>
                            <option>Staff Type 2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>

                    </div>
                </div>

                <div class="row" style="padding-top:20px;background-color:cadetblue;">

                    <div class="col-md-8 form-group">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input class="form-control" name="contact name" id="secstaffphone1" type="text" required="" autofocus="">

                        </div>
                    </div>

                    <div class="col-md-4">
                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="" style="margin-left:-20px;width:120%;">

                    </div>

                </div>


                <div class="row" style="padding-top:5px;background-color:cadetblue;">
                    <div class="col-md-12">


                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </div>
                                <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">

                            </div>
                        </div>


                    </div>

                </div>
                <div class="row" style="background-color:cadetblue;">
                    <div class="col-md-7">

                        <select class="form-control" id="sel1">
                            <option>Phone</option>
                            <option>Email</option>
                            <option>Face to Face</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="padding-top:20px;padding-bottom:20px;margin-right:-90px; background-color:cadetblue;">
                    <div class="col-md-7">

                        <label class="checkbox-inline text-center"><input type="checkbox" value="" id="chkClinicTwo">&nbsp;&nbsp;Clinic</label>&nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline text-center"><input type="checkbox" value="" id="chkAdminTwo">&nbsp;&nbsp;Admin</label>
                    </div>
                </div>

            </div>
            <div class="col-md-4 bottom" style="padding-left:20px; background-color:lightgray;padding-bottom:18px;">
                <div class="row" style="padding-top:20px; background-color:lightgray;">
                    <div class="col-md-12">
                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">
                    </div>
                </div>

                <div class="row" style="padding-top:20px;">

                    <div class="col-md-5" style="width:135px;">
                        <select class="form-control" id="sel1">
                            <option></option>
                            <option>2 2</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" style="margin-left:-20px;width:115%;" name="contact name" id="contact name" placeholder="Other" type="text" required="" autofocus="">

                    </div>
                </div>

                <div class="row" style="padding-top:20px;background-color:lightgray;">

                    <div class="col-md-6">
                        <select class="form-control" id="sel1">
                            <option>Staff Type</option>
                            <option>Staff Type 2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>

                    </div>
                </div>

                <div class="row" style="padding-top:20px;background-color:lightgray;">

                    <div class="col-md-8 form-group">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input class="form-control" name="contact name" id="secstaffphone1" type="text" required="" autofocus="">

                        </div>
                    </div>

                    <div class="col-md-4">
                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="" style="margin-left:-20px;width:120%;">

                    </div>

                </div>


                <div class="row" style="padding-top:5px;background-color:lightgray;">
                    <div class="col-md-12">


                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </div>
                                <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">

                            </div>
                        </div>


                    </div>

                </div>
                <div class="row" style="background-color:lightgray;">
                    <div class="col-md-7">

                        <select class="form-control" id="sel1">
                            <option>Phone</option>
                            <option>Email</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="padding-top:20px;padding-bottom:20px; background-color:lightgray;">
                    <div class="col-md-6">

                        <label class="checkbox-inline text-center"><input type="checkbox" value="" id="chkClinicTwo">&nbsp;&nbsp;Clinic</label>&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="col-md-6">
                        <label class="checkbox-inline text-center"><input type="checkbox" value="" id="chkAdminTwo">&nbsp;&nbsp;Admin</label>
                    </div>
                </div>

            </div>


        </div>






        <br />

        <div class="row">
            <div class="col-md-4 pull-left">
                <button type="button" class="btn btn-primary btn-xs" style="background-color: #3a3a3a;"> <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete Staff&nbsp;</button>
                <button type="button" class="btn btn-primary btn-xs" style="background-color: #3a3a3a;"> <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Staff &nbsp;&nbsp;</button>
            </div>
            <div class="col-md-4 pull-right">
                <button type="button" class="btn btn-success pull-right" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" onclick="saveStaff()">  Save</button>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8" sstyle="margin-top:-90px;">
                <ul class="pagination pull-left">
                    <li><a href="#">1</a></li>
                    <li class="" style="background-color:#3a3a3a"><a href="#">2</a></li>

                </ul>
            </div>
            @*<div class="col-md-4">
                    <button type="button" class="btn btn-success pull-right" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;"> <span class="glyphicon glyphicon-save"></span> Save</button>
                </div>*@
        </div>

        <div class="panel-footer" style="border-top: none;">
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">

                    <a onclick="showHideTab('serviceLocations3')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous </a>

                    <a class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;">  Submit  </a>
                </div>

            </div>
        </div>
    </div>
    <br />
</div>
<script>
    function saveStaff() {
        if (document.getElementById('chkClinicOne').checked && document.getElementById('chkClinicTwo').checked) {
            alert('Please select only one clinic type');
        }
        if (document.getElementById('chkAdminOne').checked && document.getElementById('chkAdminTwo').checked) {
            alert('Please select only one admin type');
        }

        if (document.getElementById('chkClinicOne').checked && document.getElementById('chkAdminOne').checked) {
            alert('Please select only one type');
        }
        if (document.getElementById('chkClinicTwo').checked && document.getElementById('chkAdminTwo').checked) {
            alert('Please select only one type');
        }
    }

    $('#primarystaffphone').keyup(function () {
        var text = $(this).val();
        var format = "";
        if (text.length == 10) {
            format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
        }
        else {
            format = $(this).val();
        }

        $(this).val(format);
    });
    $('#secstaffphone').keyup(function () {
        var text = $(this).val();
        var format = "";
        if (text.length == 10) {
            format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
        }
        else {
            format = $(this).val();
        }

        $(this).val(format);
    });
    $('#primarystaffphone1').keyup(function () {
        var text = $(this).val();
        var format = "";
        if (text.length == 10) {
            format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
        }
        else {
            format = $(this).val();
        }

        $(this).val(format);
    });
    $('#secstaffphone1').keyup(function () {
        var text = $(this).val();
        var format = "";
        if (text.length == 10) {
            format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
        }
        else {
            format = $(this).val();
        }

        $(this).val(format);
    });




</script>