﻿@using MvcCheckBoxList.Model
@model EWC_NSAA.ViewModels.EncounterViewModel
@{
    Layout = null;
}

<div class="panel panel-default" style="border:none;margin-top: -10px;" id="">

    <h3 style="padding-left:17px"><b> Encounter </b></h3>
    <br />
    <div class="panel-body" style="margin-bottom: -20px;">

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.tEncounter.EncounterID, "NSR ID")
                    @Html.EditorFor(model => model.tEncounter.FK_RecipientID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tEncounter.FK_RecipientID, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.tEncounter.EncounterNumber, "Encounter Number")<br />
                    @*<div class="col-md-offset-5">*@
                    <div class="col-md-5" style="margin-left:-12px">
                        @Html.EditorFor(model => model.tEncounter.EncounterNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tEncounter.EncounterNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            @*<div class="col-md-1"></div>*@
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.tEncounter.EncounterType, "Encounter Type")
                    @Html.DropDownListFor(model => model.tEncounter.EncounterType, EWC_NSAA.Controllers.EnrollmentController.GetCaregiverContactPrefDropDown(), "Select Encounter Type", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tEncounter.EncounterType, "", new { @class = "text-danger" })
                    @*</div>*@
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-10" style="margin-left:-10px;">
                        <label>Reason </label>
                        <select class="form-control">
                            <option value="" selected="selected">Select Reason</option>
                            <option value="1">Support</option>
                            <option value="2">Assesment</option>
                        </select>

                        </div>

                    </div>
            </div>
            @*<div class="col-md-1"></div>*@

            <div class="col-md-3">
                <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label type="label">Missed Appointment  </label>
                <div class="form-group">
                    <label id="sliderLabel">
                        <input type="checkbox" onchange="missedAppointmentChange(this)" />
                        <span id="slider">
                            <span id="sliderOn">Yes</span>
                            <span id="sliderOff">No</span>
                            <span id="sliderBlock"></span>
                        </span>
                        @Html.HiddenFor(model => model.tEncounter.MissedAppointment, new { @id = "text-danger" })
                    </label>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.tEncounter.EncounterDt, "Date")
                    <div class="input-group date" style="width:150px;">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.EditorFor(model => model.tEncounter.EncounterDt, new { htmlAttributes = new { @class = "form-control", id = "txtEncounterDate" } })
                        @*<input type="text" id="datereferral" class="form-control" placeholder="" autocomplete="off" style="height:38px">*@
                    </div>
                    @Html.ValidationMessageFor(model => model.tEncounter.EncounterDt, "", new { @class = "text-danger" })
                </div>
                @*</div>*@




            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="col-md-10" style="margin-left:-10px;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.tEncounter.EncounterStartTime, " Start Time")
                        @*<div class="col-md-offset-5">*@
                        @Html.EditorFor(model => model.tEncounter.EncounterStartTime, new { htmlAttributes = new { @class = "form-control", @id="dvEncounterStartTime"} })
                        @Html.ValidationMessageFor(model => model.tEncounter.EncounterStartTime, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                    </div>
                </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="col-md-10" style="margin-left:-10px;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.tEncounter.EncounterEndTime, "End Time")
                        @*<div class="col-md-offset-5">*@
                        @Html.EditorFor(model => model.tEncounter.EncounterEndTime, new { htmlAttributes = new { @class = "form-control", @id = "dvEncounterEndTime" } })
                        @Html.ValidationMessageFor(model => model.tEncounter.EncounterEndTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
        </div>
        <br />
        <div class="row">






            <div class="col-md-2">

                <label>Goal</label>
                <div class="form-group">


                    <select class="form-control">
                        <option value="" selected="selected">Select Goal</option>
                        <option value="1">SN</option>

                        <option value="2">CMN</option>
                        <option value="2">TRFN</option>
                    </select>



                </div>
                @*<div class="form-group">
                        <label>Goal</label>

                        @Html.DropDownListFor(model => model.tEncounter.EncounterType, EWC_NSAA.Controllers.EncountersController.GetSvcOutcomeStatusDropDown(), "--Select Outcome Status--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.tEncounter.SvcOutcomeStatus, "", new { @class = "text-danger" })

                    </div>*@
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="col-md-10" style="margin-left:-10px;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.tEncounter.SvcOutcomeStatus, "Acheived Goal")

                        @Html.DropDownListFor(model => model.tEncounter.EncounterType, EWC_NSAA.Controllers.EncountersController.GetSvcOutcomeStatusDropDown(), "Select  Status", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.tEncounter.SvcOutcomeStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            @*<div class="col-md-1"></div>*@
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.tEncounter.EncounterReason, "Reason Goal Not Acheived")
                    @Html.EditorFor(model => model.tEncounter.ServicesTerminatedReason, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tEncounter.EncounterReason, "", new { @class = "text-danger" })

                </div>

            </div>
        </div>
        <br />

    </div>
    <div class="panel-footer" style="border-top: none;">
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-left">
                <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>
                <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>

            </div>

        </div>
        @*<div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>

                <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  Next &gt;&gt; </a>
            </div>
        </div>*@

    </div>
</div>

<script>
    $('#txtEncounterDate').datepicker().on('txtEncounterDate', function (ev) {

 });
</script>