﻿@model EWC_NSAA.ViewModels.NavigatorViewModel
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    .webgrid-table {
        /*font-size: 1.2em;*/
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
        width: 100%;
        display: table;
        border-collapse: separate;
        /*border: none 1px #98BF21;*/
        border: solid 1px #000000 !important;
        background-color: white;
    }

    .webgrid-header {
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

        .webgrid-header a {
            text-decoration: none !important;
            font-family: 'FiraSans-Light' !important;
            font-size: 18px !important;
            color: white !important;
        }

    .webgrid-table th {
        /*border: 1px none #98BF21;*/
        /*padding: 25px 2px 10px;*/
        padding: 15px 5px 10px;
        text-align: left;
        align-items: left;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .webgrid-table td {
        /*border: 1px none #98BF21;*/
        /*border: solid 1px #000000 !important;*/
        padding: 5px 2px 2px;
        text-align: center;
        align-items: center;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    /*.webgrid-table td span2 {
            text-align: left;
        }*/

    .webgrid-header {
        background-color: #7EB2B2;
        color: white;
        padding-bottom: 2px;
        padding-top: 2px;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }



    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
        text-align: left;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .webgrid-alternating-row {
        background-color: #DEF9F9;
        padding: 3px 7px 2px;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .lblLanguageName {
        width: 100px;
    }

    lc {
        border: none !important;
    }

    /*.webgrid-header > th:nth-child(2) {
        width: 100px;
    }*/
</style>


@{
    WebGrid grid = new WebGrid(source: Model.Languages);
}
<div class="panel panel-default col-md-12" style="border:none;margin-bottom:-20px;">
    <div class="panel-body">
        <a class="btn" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;" id="addlanguage" onclick="languageProfile.addLanguage()">Add Language</a>
        <div style="margin-top:10px;">
            @grid.GetHtml(
        htmlAttributes: new { id = "Lgrid" },
        tableStyle: "webgrid-table",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        mode: WebGridPagerModes.All,

        columns:
            grid.Columns(
            grid.Column(null, null, format: @<text><input type="hidden" name="hiddenLCode" value='@item.LanguageCode' /> <input type="hidden" class="lc" name="hiddenNavigatorId" value='@item.NavigatorLanguageID' /></text>),
            grid.Column("LanguageName", "Language Name", format: @<text><span2 class="display-mode"><label id="lblLanguageName">@item.LanguageName</label></span2>
            </text>, style: "lblLanguageName"),
            grid.Column("SpeakingScore", "Speaking", format: @<text> <span class="display-mode" id="spanShowScore"><label id="lblSpeaking">@item.SpeakingScore</label></span>
            </text>, style: "col2Width"),
            grid.Column("ListeningScore", "Listening", format: @<text> <span class="display-mode"><label id="lblListening">@item.ListeningScore</label></span>
            </text>, style: "col2Width"),
            grid.Column("ReadingScore", "Reading", format: @<text> <span class="display-mode"><label id="lblReading">@item.ReadingScore</label></span>
            </text>, style: "col2Width"),
            grid.Column("WritingScore", "Writing", format: @<text> <span class="display-mode"><label id="lblWriting">@item.WritingScore</label></span>
            </text>, style: "col2Width"),
                grid.Column("", "", format: @<text>

                    <button type="button" class="btn" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;" onclick="languageProfile.editMode(this)">Edit</button>
                </text>, style: "col2Width")

                    @*grid.Column("WritingScore", "Delete", format: @<text> <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="align-self:center">&times;</button>
                        </text>, style: "col2Width")*@
        ))
        </div>
    </div>
    <br /><br />
</div>


<div class="modal fade" id="LanguagePopup">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="panel panel-primary" style="margin-bottom: -20px;">
                <div class="panel-heading"> <H3> Add Language </H3></div>
                <div class="panel-body" style="margin-bottom:-20px;">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 col-md-1">
                                <div class="input-group">

                                </div>
                            </div>
                            <div class="col-xs-4 col-md-5">
                                <div class="input-group">




                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 col-xs-1">
                                <div class="input-group">

                                </div>
                            </div>
                            <div class="col-xs-4 col-md-3">

                            </div>
                            <div class="col-xs-4 col-md-7">
                                <h3> Select Language</h3>
                                <div class="input-group">
                                    @Html.DropDownList("ddlLanguage", EWC_NSAA.Controllers.HomeController.GetNavigatorLanguages(), new { style = "width:200px", onchange = "languageProfile.languageChange()", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">

                            <div class="col-xs-4 col-md-3" style="padding-right:20px">
                                <div class="input-group">
                                    <span>
                                        <h4>  Speaking</h4>
                                    </span>
                                    <span>

                                        <span id="oneStar" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('one', 'Star', 's')">&#9312;</span>
                                        <span id="twoStar" style="color:red;font-size:24px!important;cursor:pointer;" onclick="languageProfile.setStar('two', 'Star', 's')">&#9313;</span>
                                        <span id="threeStar" style="color:red;font-size:24px!important;cursor:pointer;" onclick="languageProfile.setStar('three', 'Star', 's')">&#9314;</span>
                                        <span id="fourStar" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('four', 'Star', 's')">&#9315;</span>
                                        <span id="fiveStar" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('five', 'Star', 's')">&#9316;</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-3">
                                <div class="input-group">
                                    <span>
                                        <h4>  Reading</h4>
                                    </span>

                                    <span>
                                        <span id="oneStarReading" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('one', 'StarReading', 'r')">&#9312;</span>
                                        <span id="twoStarReading" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('two', 'StarReading', 'r')">&#9313;</span>
                                        <span id="threeStarReading" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('three', 'StarReading', 'r')">&#9314;</span>
                                        <span id="fourStarReading" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('four', 'StarReading', 'r')">&#9315;</span>
                                        <span id="fiveStarReading" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('five', 'StarReading', 'r')">&#9316;</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-3">
                                <div class="input-group">
                                    <span>
                                        <h4>  Writing</h4>
                                    </span>
                                    <span>
                                        <span id="oneStarWriting" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('one', 'StarWriting', 'w')">&#9312;</span>
                                        <span id="twoStarWriting" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('two', 'StarWriting', 'w')">&#9313;</span>
                                        <span id="threeStarWriting" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('three', 'StarWriting', 'w')">&#9314;</span>
                                        <span id="fourStarWriting" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('four', 'StarWriting', 'w')">&#9315;</span>
                                        <span id="fiveStarWriting" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('five', 'StarWriting', 'w')">&#9316;</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-3">
                                <div class="input-group">
                                    <span>
                                        <h4>  Listening</h4>
                                    </span>
                                    <span>
                                        <span id="oneStarListening" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('one', 'StarListening', 'l')">&#9312;</span>
                                        <span id="twoStarListening" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('two', 'StarListening', 'l')">&#9313;</span>
                                        <span id="threeStarListening" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('three', 'StarListening', 'l')">&#9314;</span>
                                        <span id="fourStarListening" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('four', 'StarListening', 'l')">&#9315;</span>
                                        <span id="fiveStarListening" style="color:red;font-size:24px!important;cursor:pointer" onclick="languageProfile.setStar('five', 'StarListening', 'l')">&#9316;</span>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-9 ">
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" onclick="languageProfile.saveLangChanges()">
                                Save
                            </button>
                        </div>
                        <div class="col-md-1">
                            <a class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;" data-dismiss="modal">  Close  </a>
                            @*<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>*@
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
<script>
    var languageProfile = (function () {
        var publicMethods = {};
        var speakingStar = 0;
        var readingStar = 0;
        var writingStar = 0;
        var listeningStar = 0;
        var selectedLanguage = "";
        var editMode = false;
        var langId = 0;
        var navigatorId = 0;

        publicMethods.addLanguage = function () {
            editMode = false;
            $('#LanguagePopup').modal('show');
        }
        publicMethods.editMode = function (ctrl) {
            var tr = $(ctrl).parent().parent();
            editMode = true;
            langId = tr.find("input[name='hiddenLCode']").val();
            navigatorId = tr.find("input[name='hiddenNavigatorId']").val();
            speakingStar = $(tr[0].cells[2]).find('label').text();
            listeningStar = $(tr[0].cells[3]).find('label').text();
            readingStar = $(tr[0].cells[4]).find('label').text();
            writingStar = $(tr[0].cells[5]).find('label').text();

            $('#LanguagePopup').modal('show');
        }
        publicMethods.languageChange = function () {
            setStarToDefault('Star')
            setStarToDefault('StarReading')
            setStarToDefault('StarWriting')
            setStarToDefault('StarListening')
        }

        $('#LanguagePopup').on('shown.bs.modal', function () {
            if (!editMode) {
                $("#ddlLanguage").val(1);
                $("#ddlLanguage").removeAttr('disabled');
                setStarToDefault('Star')
                setStarToDefault('StarReading')
                setStarToDefault('StarWriting')
                setStarToDefault('StarListening')

                langId = 0;
                navigatorId = 0;
                speakingStar = 0;
                listeningStar = 0;
                readingStar = 0;
                writingStar = 0;
            }
            else {


                $("#ddlLanguage").val(langId);
                $("#ddlLanguage").attr('disabled', 'disabled');
                languageProfile.setStar(undefined, 'Star', 's', speakingStar);
                languageProfile.setStar(undefined, 'StarListening', 'l', listeningStar);
                languageProfile.setStar(undefined, 'StarReading', 'r', readingStar);
                languageProfile.setStar(undefined, 'StarWriting', 'w', writingStar);
                editMode = true;
            }
        });
        publicMethods.setStar = function (number, id, type, numId) {
            if (number == 'one' || numId == 1) {
                if (number == undefined) {
                    number = 'one';
                }
                $('#' + number + id).css('color', 'green');
                $('#two' + id).css('color', 'red');
                $('#four' + id).css('color', 'red');
                $('#five' + id).css('color', 'red');
                $('#three' + id).css('color', 'red');

                if (type == 's')
                    speakingStar = 1
                else if (type == 'r')
                    readingStar = 1
                else if (type == 'w')
                    writingStar = 1
                else if (type == 'l')
                    listeningStar = 1
            }
            else if (number == 'two' || numId == 2) {
                if (number == undefined) {
                    number = 'two';
                }
                $('#' + number + id).css('color', 'green');
                $('#one' + id).css('color', 'green');
                $('#four' + id).css('color', 'red');
                $('#five' + id).css('color', 'red');
                $('#three' + id).css('color', 'red');
                if (type == 's')
                    speakingStar = 2
                else if (type == 'r')
                    readingStar = 2
                else if (type == 'w')
                    writingStar = 2
                else if (type == 'l')
                    listeningStar = 2
            }
            else if (number == 'three' || numId == 3) {
                if (number == undefined) {
                    number = 'three';
                }
                $('#' + number + id).css('color', 'green');
                $('#one' + id).css('color', 'green');
                $('#two' + id).css('color', 'green');
                $('#four' + id).css('color', 'red');
                $('#five' + id).css('color', 'red');
                if (type == 's')
                    speakingStar = 3
                else if (type == 'r')
                    readingStar = 3
                else if (type == 'w')
                    writingStar = 3
                else if (type == 'l')
                    listeningStar = 3
            }
            else if (number == 'four' || numId == 4) {
                if (number == undefined) {
                    number = 'four';
                }
                $('#' + number + id).css('color', 'green');
                $('#one' + id).css('color', 'green');
                $('#two' + id).css('color', 'green');
                $('#three' + id).css('color', 'green');
                $('#five' + id).css('color', 'red');
                if (type == 's')
                    speakingStar = 4
                else if (type == 'r')
                    readingStar = 4
                else if (type == 'w')
                    writingStar = 4
                else if (type == 'l')
                    listeningStar = 4
            }
            else if (number == 'five' || numId == 5) {
                if (number == undefined) {
                    number = 'five';
                }
                $('#' + number + id).css('color', 'green');
                $('#one' + id).css('color', 'green');
                $('#two' + id).css('color', 'green');
                $('#three' + id).css('color', 'green');
                $('#four' + id).css('color', 'green');
                if (type == 's')
                    speakingStar = 5
                else if (type == 'r')
                    readingStar = 5
                else if (type == 'w')
                    writingStar = 5
                else if (type == 'l')
                    listeningStar = 5
            }
        }

        setStarToDefault = function (id) {
            $('#one' + id).css('color', 'red');
            $('#two' + id).css('color', 'red');
            $('#four' + id).css('color', 'red');
            $('#five' + id).css('color', 'red');
            $('#three' + id).css('color', 'red');
        }

        publicMethods.saveLangChanges = function () {
            var selectedId = $("#ddlLanguage option:selected").val();
            var model = {};
            selectedLanguage = $("#ddlLanguage option:selected").text();
            model.FK_NavigatorID = @Model.NavigatorID
            model.NavigatorLanguageID = navigatorId;
            model.LanguageCode = selectedId;
            model.LanguageName = selectedLanguage;
            model.SpeakingScore = speakingStar;
            model.ListeningScore = listeningStar;
            model.ReadingScore = readingStar;
            model.WritingScore = writingStar;
            model.CreatedBy = "k";//Currently hard coded.TODO
            var url = '';
            if (!editMode) {
                url = '/Home/LanguageInsert';
            }
            else {
                url = '/Home/LanguageUpdate';
            }

            if (!editMode) {
                $.ajax({
                    url: '/Home/IsLanguageExists',
                    type: 'post',
                    data: { navigatorId: $('#NavigatorID').val(), selectedId: selectedId },
                    success: function (e) {
                        debugger;
                        if(e)
                        {
                            alert('Language is already added, please select another one.');
                            return false;
                        }
                        else {
                            $.ajax({
                                url: url,
                                type: 'post',
                                data: { LanguageModel: model },
                                success: function (e) {
                                    $('#LanguagePopup').modal('hide');
                                    buildBody();
                                },
                                error: function (e) {

                                }
                            });
                        }
                    },
                    error: function (e) {

                    }
                });
            }
            else {
                $.ajax({
                    url: url,
                    type: 'post',
                    data: { LanguageModel: model },
                    success: function (e) {
                        $('#LanguagePopup').modal('hide');
                        buildBody();
                    },
                    error: function (e) {

                    }
                });
            }
        }
        function buildBody() {
            window.location.href = '/Home/ProfileCreate?tab=1';
        }
        publicMethods.deleteItem = function (ctrl) {
            var rowIndex = $(ctrl).parent().parent()[0].rowIndex;
            $('#tblLanguageGrid')[0].deleteRow(rowIndex);
        }

        return publicMethods;
    })();

    $(document).ready(function () {
        var count = 0;
        $('#Lgrid').find('tr').each(function () {
            if (count != 0)
                $(this.cells[1]).css('text-align', 'left');
            $(this.cells[2]).css('text-align', 'center');
            $(this.cells[3]).css('text-align', 'center');
            $(this.cells[4]).css('text-align', 'center');
            $(this.cells[5]).css('text-align', 'center');
            $(this.cells[6]).css('text-align', 'left');
            count++;
        })


        $('#grid').find('tr').each(function () {
            if (count != 0)
                $(this.cells[3]).css('text-align', 'center');
            $(this.cells[4]).css('text-align', 'center');
            $(this.cells[5]).css('text-align', 'center');

            count++;
        })
        //$('#Lgrid').find('th').each(function(){

        //    $(this.cells[1]).css('text-width','60px');


        //})
    })

</script>
@*<script>
        var languageProfile = (function () {
            var publicMethods = {};
            var speakingStar = 0;
            var readingStar = 0;
            var writingStar = 0;
            var listeningStar = 0;
            var selectedLanguage = "";
            var editMode = false;
            var langId = 0;
            var navigatorId = 0;

            publicMethods.addLanguage = function () {
                editMode = false;
                $('#LanguagePopup').modal('show');
            }
            publicMethods.editMode = function (ctrl) {
                var tr = $(ctrl).parent().parent();
                editMode = true;
                langId = tr.find("input[name='hiddenLCode']").val();
                navigatorId = tr.find("input[name='hiddenNavigatorId']").val();
                speakingStar = $(tr[0].cells[2]).find('label').text();
                listeningStar = $(tr[0].cells[3]).find('label').text();
                readingStar = $(tr[0].cells[4]).find('label').text();
                writingStar = $(tr[0].cells[5]).find('label').text();

                $('#LanguagePopup').modal('show');
            }
            publicMethods.languageChange = function () {
                setStarToDefault('Star')
                setStarToDefault('StarReading')
                setStarToDefault('StarWriting')
                setStarToDefault('StarListening')
            }

            $('#LanguagePopup').on('shown.bs.modal', function () {
                if (!editMode) {
                    $("#ddlLanguage").val(1);
                    $("#ddlLanguage").removeAttr('disabled');
                    setStarToDefault('Star')
                    setStarToDefault('StarReading')
                    setStarToDefault('StarWriting')
                    setStarToDefault('StarListening')

                    langId = 0;
                    navigatorId = 0;
                    speakingStar = 0;
                    listeningStar = 0;
                    readingStar = 0;
                    writingStar = 0;
                }
                else {


                    $("#ddlLanguage").val(langId);
                    $("#ddlLanguage").attr('disabled', 'disabled');
                    languageProfile.setStar(undefined, 'Star', 's', speakingStar);
                    languageProfile.setStar(undefined, 'StarListening', 'l', listeningStar);
                    languageProfile.setStar(undefined, 'StarReading', 'r', readingStar);
                    languageProfile.setStar(undefined, 'StarWriting', 'w', writingStar);
                    editMode = true;
                }
            });
            publicMethods.setStar = function (number, id, type, numId) {
                if (number == 'one' || numId == 1) {
                    if (number == undefined) {
                        number = 'one';
                    }
                    $('#' + number + id).css('color', 'green');
                    $('#two' + id).css('color', 'red');
                    $('#four' + id).css('color', 'red');
                    $('#five' + id).css('color', 'red');
                    $('#three' + id).css('color', 'red');

                    if (type == 's')
                        speakingStar = 1
                    else if (type == 'r')
                        readingStar = 1
                    else if (type == 'w')
                        writingStar = 1
                    else if (type == 'l')
                        listeningStar = 1
                }
                else if (number == 'two' || numId == 2) {
                    if (number == undefined) {
                        number = 'two';
                    }
                    $('#' + number + id).css('color', 'green');
                    $('#one' + id).css('color', 'green');
                    $('#four' + id).css('color', 'red');
                    $('#five' + id).css('color', 'red');
                    $('#three' + id).css('color', 'red');
                    if (type == 's')
                        speakingStar = 2
                    else if (type == 'r')
                        readingStar = 2
                    else if (type == 'w')
                        writingStar = 2
                    else if (type == 'l')
                        listeningStar = 2
                }
                else if (number == 'three' || numId == 3) {
                    if (number == undefined) {
                        number = 'three';
                    }
                    $('#' + number + id).css('color', 'green');
                    $('#one' + id).css('color', 'green');
                    $('#two' + id).css('color', 'green');
                    $('#four' + id).css('color', 'red');
                    $('#five' + id).css('color', 'red');
                    if (type == 's')
                        speakingStar = 3
                    else if (type == 'r')
                        readingStar = 3
                    else if (type == 'w')
                        writingStar = 3
                    else if (type == 'l')
                        listeningStar = 3
                }
                else if (number == 'four' || numId == 4) {
                    if (number == undefined) {
                        number = 'four';
                    }
                    $('#' + number + id).css('color', 'green');
                    $('#one' + id).css('color', 'green');
                    $('#two' + id).css('color', 'green');
                    $('#three' + id).css('color', 'green');
                    $('#five' + id).css('color', 'red');
                    if (type == 's')
                        speakingStar = 4
                    else if (type == 'r')
                        readingStar = 4
                    else if (type == 'w')
                        writingStar = 4
                    else if (type == 'l')
                        listeningStar = 4
                }
                else if (number == 'five' || numId == 5) {
                    if (number == undefined) {
                        number = 'five';
                    }
                    $('#' + number + id).css('color', 'green');
                    $('#one' + id).css('color', 'green');
                    $('#two' + id).css('color', 'green');
                    $('#three' + id).css('color', 'green');
                    $('#four' + id).css('color', 'green');
                    if (type == 's')
                        speakingStar = 5
                    else if (type == 'r')
                        readingStar = 5
                    else if (type == 'w')
                        writingStar = 5
                    else if (type == 'l')
                        listeningStar = 5
                }
            }

            setStarToDefault = function (id) {
                $('#one' + id).css('color', 'red');
                $('#two' + id).css('color', 'red');
                $('#four' + id).css('color', 'red');
                $('#five' + id).css('color', 'red');
                $('#three' + id).css('color', 'red');
            }

            publicMethods.saveLangChanges = function () {
                var selectedId = $("#ddlLanguage option:selected").val();
                var valid = true;
                if (!editMode) {
                    var langModel = @Html.Raw(Json.Encode(Model.Languages));
                    $.each(langModel, function(){
                        if(this.LanguageCode == selectedId){
                            valid = false;
                            return false;
                        }
                    })

                    if(!valid){
                        alert('Language is already added, please select another one.');
                        return false;
                    }
                }



                var model = {};
                selectedLanguage = $("#ddlLanguage option:selected").text();
                model.FK_NavigatorID = @Model.NavigatorID
                model.NavigatorLanguageID = navigatorId;
                model.LanguageCode = selectedId;
                model.LanguageName = selectedLanguage;
                model.SpeakingScore = speakingStar;
                model.ListeningScore = listeningStar;
                model.ReadingScore = readingStar;
                model.WritingScore = writingStar;
                model.CreatedBy = "Kavitha";//Currently hard coded.TODO
                var url = '';
                if (!editMode) {
                    url = '/Home/LanguageInsert';
                }
                else {
                    url = '/Home/LanguageUpdate';
                }
                $.ajax({
                    url: url,
                    type: 'post',
                    data: { LanguageModel: model },
                    success: function (e) {
                        $('#LanguagePopup').modal('hide');
                        buildBody();
                    },
                    error: function (e) {

                    }
                });
            }
            function buildBody() {
                window.location.href = '/Home/ProfileCreate?tab=1';
            }
            publicMethods.deleteItem = function (ctrl) {
                var rowIndex = $(ctrl).parent().parent()[0].rowIndex;
                $('#tblLanguageGrid')[0].deleteRow(rowIndex);
            }

            return publicMethods;
        })();

        $(document).ready(function(){
            var count = 0;
            $('#Lgrid').find('tr').each(function(){
                if(count!=0)
                    $(this.cells[1]).css('text-align','left');
              $(this.cells[2]).css('text-align','center');
                $(this.cells[3]).css('text-align','center');
                $(this.cells[4]).css('text-align','center');
                $(this.cells[5]).css('text-align','center');
                $(this.cells[6]).css('text-align','left');
                count++;
            })


            $('#grid').find('tr').each(function(){
                if(count!=0)
                    $(this.cells[3]).css('text-align','center');
                $(this.cells[4]).css('text-align','center');
                $(this.cells[5]).css('text-align','center');

                count++;
            })
            //$('#Lgrid').find('th').each(function(){

            //    $(this.cells[1]).css('text-width','60px');


            //})
        })

    </script>*@
