﻿
@using EWC_NSAA.ViewModels;
@model EWC_NSAA.ViewModels.NavigatorTransferViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <h4>Recipient</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.HiddenFor(model => model.NSRecipientID)
            @Html.Label("Recipient Name: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.RecipFirstName)
            @Html.DisplayFor(model => model.RecipLastName)
            <br />
            @Html.Label("Language: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Language)
            <br />
            @Html.Label("Agree to speak English?: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.AgreeToSpeakEnglish)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Current Navigator</h4>
    </div>
    <div class="col-md-8">
        <h4>Transfer To</h4>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="form-group">
                    
            @Html.Label("ID: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.OldNavigatorID)
            @Html.HiddenFor(model => model.OldNavigatorID)
            <br />
            @Html.Label("Name: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.LastName)
            <br />
            @Html.Label("Region: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Region)
            <br />
            @Html.Label("Type: ", htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Type)
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            @Html.Label("Select New Navigator: ", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.NewNavigatorID, EWC_NSAA.Controllers.EnrollmentController.GetNavigatorsDropDown(), "--Select Navigator--")
            <br />
            @Html.Label("Navigator Transfer Reason: ", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.NavigatorTransferReason, EWC_NSAA.Controllers.NavigatorTransferController.GetTransferReasonsDropDown(), "--Select Transfer Reason--")
            <br />
            @Html.Label("Navigator Transfer Date: ", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.NavigatorTransferDt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NavigatorTransferDt, "", new { @class = "text-danger" })


        </div>
    </div>
</div>

<div>
    <div class="col-md-offset-2 col-md-12">
        <input type="submit" value="Transfer" class="btn btn-default" />
    </div>
</div>


