﻿<head>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>

<div class="panel panel-default" style="border:none" id="requestTab" onload="radioBtnClick()">
    @*<div class="panel-body" style="margin-left:35px;">*@
    <div class="panel-body" style="margin-bottom: -20px;">
        <div class="row" id="1st">
            <div class="col-lg-12">
                <div class="col-lg-7">
                    <div class="row form-group col-md-4">
                        <label>Date of Request</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" id="datereferral" class="form-control" placeholder="" autocomplete="off" style="height:38px">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <div class="col-md-7">
                        <label> Incident Number</label>
                        <input class="form-control" name="incidentNumber" id="incidentNumber" type="text" required="" style="width:178px;">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" id="2nd">

            <div class="col-md-12" style="padding-left:14px; padding-top:7px">

                <div class="form-inline  col-md-12" style="vertical-align:bottom;">
                    <label style="padding-right:20px;"> Communication Type </label><br />

                    <input type="checkbox" name="phoneCall" id="phoneCall" autocomplete="off" style="margin-left:1px;">
                    <span style="vertical-align: bottom;"> &nbsp;Call</span>
                    <input type="checkbox" name="faceToFace" id="faceToFace" autocomplete="off" style="margin-left:33px;">
                    <span style="vertical-align: bottom;"> &nbsp;Face-to-Face</span>
                    <input type="checkbox" name="translate" id="translate" autocomplete="off" style="margin-left:33px" />
                    <span style="vertical-align: bottom;"> &nbsp;Translate </span>
                    <input type="checkbox" name="email" id="email" autocomplete="off" style="margin-left:33px">
                    <span style="vertical-align: bottom;"> &nbsp;Email</span>
                    <input type="checkbox" name="other" id="other" style="margin-left:33px">
                    <span class="content text-center" style="vertical-align: bottom;"> </span>
                    <span class="content text-center"> &nbsp;Other</span>
                    <input class="form-control" name="txtBxOther" id="txtBxOther" placeholder="" type="text" style="display:none; width:250px; margin-left: 700px;margin-top: -30px;" />

                </div>
            </div>
        </div>

        <div class="row" id="3rd" style="margin-left:15px">
            <div class="row" id="subrow1">
                <div class="form-group">
                    <div class="col-sm-4" style="margin-left:3px; padding-top:7px">
                        <div class="row form-group"></div>
                        <label>First Name</label>
                        <input class="form-control" name="FirstName" id="FirstName" placeholder="" type="text" required="" autofocus="">
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4" style="margin-left:-40px; padding-top:10px"">
                        <div class="form-group"></div>
                        <label>Last Name</label>
                        <input class="form-control" name="LastName" id="LastName" placeholder="" type="text" required="" autofocus="">
                    </div>
                </div>
            </div>
            <br />
           
            <div class="row" id="subrow2">
                <div class="row form-group">
                    <div class="col-lg-3">

                        <div class="col-lg-11" style="margin-left:2px">
                            <label>Phone </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input id="contactPhone" type="text" class="form-control" autocomplete="off" style="height:38px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5" style="padding-left:165px">
                        <label>Email </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </div>
                            <input id="contactEmail" type="text" class="form-control" style="height:38px; width:287px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="row" id="4th" style="margin-left:5px;  padding-top:7px">
            <div class="col-lg-12" >
                <div class="form-group">
                    <label>Requester</label>
                    <div class="row form-group">

                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="checkbox" name="requester" id="rad1" value="rad1" >
                                <span class="content" style="padding-left:10px;">EWC Recipient or designated representative</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="requester" id="rad2" value="rad2">
                                <span class="content" style="padding-left:10px;">EWC PCP</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="requester" id="rad3" value="rad3">
                                <span class="content" style="padding-left:10px;">Referral Provider</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" style="vertical-align:middle" name="requester" id="rad4" value="rad4">
                                <span class="content" style="padding-left:10px;">Program or Community Partner, Public, <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Potential EWC Enrollees</span>
                            </div>
                            <div class="form-group">
                                <div class="form-inline">
                                    <input type="checkbox" name="requester" id="rad5" value="rad5">
                                    <span class="content" style="padding-left:10px;">Other</span>&nbsp;
                                    <input class="form-control" name="otherTxtbox" type="text" id="otherTxtBox" style="display:none;width:75%;">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel-group" id="recipientId" style="margin-top:-35px; display:none;">
                                <div class="col-md-4" style="margin-left:-50px;margin-top:10px;">
                                    <label>Recipient ID</label>
                                    <input class="form-control" name="recipientId" id="recipientId" placeholder="" required="" autofocus="" autocomplete="off">
                                </div>
                            </div>
                            <!-- panel-group 'recipientId' ends here -->
                            <div class="panel-group" id="ewcpcp" style="border:none; display:none;">
                                <div class="row">
                                    <div>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="margin-left:-37px;">
                                        <label>NPI</label>
                                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">
                                    </div>
                                    <div class="col-lg-2">
                                        <label>Own</label>
                                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">
                                    </div>
                                    <div class="col-lg-2">
                                        <label>Loc</label>
                                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">
                                    </div>
                                </div>
                            </div>
                            <!-- panel-group 'ewc pcp' ends here -->
                            <div class="panel-group" id="referralProvider" style="border:none; display:none;">
                                <div class="row">
                                    <div>
                                        <br />
                                        <br />
                                     
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-md-4" style="margin-left:-37px;" >
                                        <label>NPI</label>
                                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">
                                    </div>
                                    <div class="col-lg-2">
                                        <label>Own</label>
                                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">
                                    </div>
                                    <div class="col-lg-2">
                                        <label>Loc</label>
                                        <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="">
                                    </div>
                                </div>
                            </div>
                            <!--panel-group 'referralProvider' ends here-->
                            <div id="progComParPub" class="panel-group" style="border:none; display:none;">
                                <div>
                                  
                                    <br />
                                </div>
                                <div class="row">
                                    <div>
                                        <br />
                                        <br />
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="margin-left:-37px;" >
                                        <div class="input-group">
                                            <label>Name of the Organization</label>
                                            <input id="programCommunityName" type="text" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--panel-group 'progComParPub' ends here-->
                        </div>


                    </div>
                </div>

            </div>
            <div class="row" id="2nd">
                <div class="form-group">
                    <div class="form-inline">
                        <div class="col-lg-12" style="margin-left:10px">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--panel footer starts here -->
        <div class="panel-footer col-md-12">
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3 pull-left">
                   @* <a href="#" class="btn btn-success" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>*@
                    <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>

                </div>

            </div>       
        </div>
    </div>
</div>



 <script type="text/javascript">

            $('#datereferral').datepicker().on('changeDate', function (ev) { });

            $(document).ready(function () {

                //$('#requestTab').find(':radio[name=requester]').click(function () {
                $('#requestTab').find(':checkbox[name=requester]').change(function (e) {

                    //Hide the tabs initially
                    $('#recipientId').css('display', 'none');
                    $('#ewcpcp').css('display', 'none');
                    $('#referralProvider').css('display', 'none');
                    $('#progComParPub').css('display', 'none');
                    //$('#others').css('display', 'none');

                    //var radVal = $('input[name=requester]:checked').val();
                    if (e.target.checked) {
                        var radVal = e.target.id;

                        if (radVal == 'rad1') {
                            $('#recipientId').css('display', 'block');
                            $('#ewcpcp').css('display', 'none');
                            $('#referralProvider').css('display', 'none');
                            $('#progComParPub').css('display', 'none');
                            //$('#others').css('display', 'none');
                        }
                        else if (radVal == 'rad2') {
                            $('#recipientId').css('display', 'none');
                            $('#ewcpcp').css('display', 'block');
                            $('#referralProvider').css('display', 'none');
                            $('#progComParPub').css('display', 'none');
                            //$('#others').css('display', 'none');
                        }
                        else if (radVal == 'rad3') {
                            $('#recipientId').css('display', 'none');
                            $('#ewcpcp').css('display', 'none');
                            $('#referralProvider').css('display', 'block');
                            $('#progComParPub').css('display', 'none');
                            //$('#others').css('display', 'none');
                        }
                        else if (radVal == 'rad4') {
                            $('#recipientId').css('display', 'none');
                            $('#ewcpcp').css('display', 'none');
                            $('#referralProvider').css('display', 'none');
                            $('#progComParPub').css('display', 'block');
                            //$('#others').css('display', 'none');
                        }
                        else if (radVal == 'rad5') {
                            $('#recipientId').css('display', 'none');
                            $('#ewcpcp').css('display', 'none');
                            $('#referralProvider').css('display', 'none');
                            $('#progComParPub').css('display', 'none');
                            //$('#others').css('display', 'block');
                        }
                    }
                });


                $('#requestTab').find("input[type='checkbox']").change(function (e) {
                    if (e.target.name == 'other' && e.target.checked) {
                        $('#txtBxOther').css('display', 'block');
                    }
                    else if (e.target.name == 'other' && !e.target.checked) {
                        $('#txtBxOther').css('display', 'none');
                    }
                });

                $("input[type='checkbox']").click(function (e) {
                    
                    if (e.target.name == 'requester' && e.target.checked)
                        $("#otherTxtbox").css('display', 'inline-block');
                    else
                        $("#otherTxtbox").css('display', 'none');
                   
                });

            });

        $('#contactPhone').keyup(function () {
        var text = $(this).val();
        var format = "";
        if (text.length == 10) {
            format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
        }
        else {
            format = $(this).val();
        }

        $(this).val(format);
    });




</script>
       




