﻿<div class="panel panel-default" id="resolutionTab" style="border:none">
    <div class="panel-body" style="margin-bottom: -20px;">
        <div class="row" id="1st">
            <div class="form-group">
                <div class="col-lg-7 form-inline">
                    <div class="form-group col-md-4">
                        <label>Initiation Date</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" id="date2" class="form-control" placeholder="" style="height:40px">
                        </div>
                    </div>
                    <div class="form-group col-md-4" style="margin-left:80px">
                        <label>End Date</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" id="date1" class="form-control" placeholder="" style="height:40px">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <div class="col-md-7">
                            <label> Incident Number</label>
                            <input class="form-control" name="contact name" id="contact name" placeholder="" type="text" required="" autofocus="" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row" id="2nd">
            <div class="col-xs-12">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label>Resolution</label>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="checkbox"  name="phonecall" id="phonecall" autocomplete="off">
                                <span class="content" style="padding-left:10px;">Answered question</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="phonecall" id="phonecall" autocomplete="off">
                                <span class="content" style="padding-left:10px;">Accepted Navigation referral</span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="phonecall" id="phonecall" autocomplete="off">
                                <span class="content" style="padding-left:10px;">Sent information/made referral, specify </span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="phonecall" id="phonecall" autocomplete="off">
                                <span class="content" style="padding-left:10px;">PCP/Referral Provider TA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="form-group">
                        <div>
                            <br />
                            <br />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="phonecall" id="phonecall" autocomplete="off">
                            <span class="content" style="padding-left:10px;">PCP/Referral Provider referred to QAP Online or Live Training</span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="phonecall" id="phonecall" autocomplete="off">
                            <span class="content" style="padding-left:10px;">PCP Training</span>
                        </div><div class="form-group">
                            <input type="checkbox" name="textmessage" id="textmessage" autocomplete="off">
                            <span class="content" style="padding-left:10px;">Unable to resolve, why</span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="textmessage" id="textmessage" autocomplete="off">
                            <span class="content" style="padding-left:10px;">Other</span>
                        </div>
                    </div>
                </div>
                </>
            </div>
        </div>
        <br>
        <div class="panel-footer col-md-12">
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3 pull-left">
                    <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                    <a href="#" class="btn btn-success" style="background-color: #2485ca;border: 2px #cfcfcf;font-size: 18px !important;" id="activate-step"> &nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;</a>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <br />
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#date1').datepicker().on('changeDate', function (ev) { });
    $('#date2').datepicker().on('changeDate', function (ev) { });
</script>

