﻿@model EWC_NSAA.ViewModels.NavigatorViewModel

@{
    WebGrid grid = new WebGrid(source: Model.Trainings);
}
<style>
    .webgrid-table {
        /*font-size: 1.2em;*/
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
        width: 100%;
        display: table;
        border-collapse: separate;
        /*border: none 1px #98BF21;*/
        border: solid 1px #000000 !important;
        background-color: white;
    }

    .webgrid-header {
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

        .webgrid-header a {
            text-decoration: none !important;
            font-family: 'FiraSans-Light' !important;
            font-size: 18px !important;
            color: white !important;
        }

    .webgrid-table th {
        /*border: 1px none #98BF21;*/
        /*padding: 25px 2px 10px;*/
        padding: 15px 5px 10px;
        text-align: left;
        align-items: left;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .webgrid-table td {
        /*border: 1px none #98BF21;*/
        /*border: solid 1px #000000 !important;*/
        padding: 5px 2px 2px;
        text-align: left;
        align-items: center;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    /*.webgrid-table td span2 {
            text-align: left;
        }*/

    .webgrid-header {
        background-color: #7EB2B2;
        color: white;
        padding-bottom: 2px;
        padding-top: 2px;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }



    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
        text-align: left;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .webgrid-alternating-row {
        background-color: #DEF9F9;
        padding: 3px 7px 2px;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    lblLanguageName {
        padding-left: 20px !important;
    }

    lc {
        border: none !important;
    }
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<a data-toggle="modal" data-target="#TrainingPopup" class="btn"  style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"  id="addTraining">Add Trainings</a>


@*<div id="gridContent" style="padding:20px;">*@
<div style="margin-top:10px; margin-right: 30px;margin-bottom:-30px;margin-left: 0px;">
    @grid.GetHtml(
    htmlAttributes: new { id = "grid" },
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "webgrid-row-style",
    mode: WebGridPagerModes.All,
    columns:
        grid.Columns(
        grid.Column(null, null, format: @<text><input type="hidden" name="hiddenTCode" value='@item.TrainingID' /> </text>),
        grid.Column("CourseName", "Course Name", format: @<text><span2 class="display-mode"><label id="lblCourseName">@item.CourseName</label></span2>
        </text>, style: "colWidth"),

        grid.Column("Organization", "Organization", format: @<text> <span class="display-mode"><label id="lblOrganization">@item.Organization</label></span>
        </text>, style: "colWidth"),

        grid.Column("Completion Date", "Completion Date", format: @<text> <span class="display-mode"><label id="lblCompletionDt">@item.CompletionDt.ToString("dd/MM/yyy")</label></span>
        </text>, style: "colWidth"),

        grid.Column("Certificate", "Certificate", format: @<text><span class="display-mode"><input id="chkCertificate" type="checkbox" checked="@item.Certificate" /></span>

        </text>, style: "colWidth"),
             @*grid.Column("CE/CME Certificate", "CE/CME Certificate", format: @<text><span class="display-mode"><input id="cMEAwarded" type="checkbox" checked="@item.Certificate" /></span>

            </text>, style: "colWidth"),*@

             grid.Column("", "", format: @<text>
                <button type="button" class="btn"  style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"  onclick="editMode(this)">Edit</button>
            </text>, style: "col2Width")


    ))
    <br />
    <br />
</div>



<div class="modal fade" id="TrainingPopup" style="border:none">
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content" >
            <div class="panel panel-primary" style="margin-bottom: -20px;">
                <div class="panel-heading"> <H3> Add Training </H3></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <input class="form-control" name="coursename" id="coursename" placeholder="Course Name" type="text" />
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" name="organization" id="organization" placeholder="Organization" type="text" />
                        </div>
                    </div>
                    <br />
                    <div class="row" style="padding-top:5px">
                        <div class="col-md-2"></div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" id="txtfromdate" class="form-control" placeholder="From Date" style='cursor:pointer'>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" id="txttodate" class="form-control" placeholder="To Date" style='cursor:pointer'>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2" style="padding-left:20px">
                        <span>Certificate</span>
                        <input type="checkbox" name="certificate" id="certification" value="certificate">
                    </div>

                    <div class="col-md-3" style="padding-left:-20px">
                        <span>CE/CME awarded</span>
                        <input type="checkbox" name="cMEAwarded" id="cMEAwarded" value="certificate">
                    </div>

                    <div class="col-md-4">
                        <span>Upload</span>
                        <span>
                            <button class="btn btn-primary " style="background-color:#3a3a3a" onclick="return uploadFiles()">...</button>
                            <input type="file" id="upload" name="upload" style="width:150px;display:none" class="form-control" />
                        </span>
                    </div>
                </div><br />

                <div class="panel-footer" style="border-top-color:none">
                    <div class="row">
                        <div class="col-md-9 ">
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn" id="btnSaveChanges" style="background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;" onclick="saveTraining()">
                                Save
                            </button>
                        </div>
                        <div class="col-md-1">
                            <a class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;" data-dismiss="modal">  Close  </a>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#txtfromdate').datepicker().on('changeDate', function () {
        });
        $('#txttodate').datepicker().on('changeDate', function () {
        });
    });

    //var training = (function () {
    //var publicMethods = {};
    var langname;
    var org = "";
    var yr;
    var todate;
    var fromdate;
    var certChecked = false;
    var cmeAwarded = false;
    var editModeFlag = false;
    var trainingId = 0;
    uploadFiles =function(){
        $('#upload').click();
        return false;
    }
    $('#TrainingPopup').on('shown.bs.modal', function () {
        if (editModeFlag) {
            $('#coursename').val(langname);
            $('#organization').val(org);
            $('#txttodate').val(todate);
            if(certChecked)
            {
                $('#certification').prop('checked','checked');
            }
            else
            {
                $('#certification').removeAttr('checked');
            }
            cmeAwarded = false;
        }
        else {
            langname = "";
            org = "";
            todate="";
            certChecked = false;
            cmeAwarded = false;
            trainingId =0;
        }
    });

    editMode = function (ctrl) {
        var tr = $(ctrl).parent().parent();
        editModeFlag = true;
        trainingId = tr.find("input[name='hiddenTCode']").val();
        langname = $(tr[0].cells[1]).find('label').text();
        org = $(tr[0].cells[2]).find('label').text();
        todate = $(tr[0].cells[3]).find('label').text();
        certChecked = $(tr[0].cells[4]).find("input[type='checkbox']").is(':checked');
        $('#TrainingPopup').modal('show');
    }

    //publicMethods.
    function validateFiles(navigatorId,uploadedFile,callback)
    {
        debugger;
        $.ajax({
            url: '/Home/ValidateUploadedFile',
            type: "GET",
            data: {navigatorId:navigatorId,uploadedFile:uploadedFile},
            success: function (result) {
                callback(result);
            },
            error: function (err) {
                console.log(err.statusText);
            }
        });
    }

    function buildBody() {
        window.location.href = '/Home/ProfileCreate?tab=2';
    }

    deleteItem = function (ctrl) {
        var rowIndex = $(ctrl).parent().parent()[0].rowIndex;
        $('#tblTrainingGrid')[0].deleteRow(rowIndex);
    }

    saveTraining = function () {

        var model = {};
        model.FK_NavigatorID = @Model.NavigatorID;
        model.TrainingID = trainingId;
        model.CourseName = $('#coursename').val();
        model.Organization = $('#organization').val();
        model.CompletionDt = $('#txttodate').val();
        model.Certificate = $('#certification').is(':checked');

        var url = '';
        if (!editModeFlag) {
            url = '/Home/TrainingInsert';
        }
        else {
            url = '/Home/TrainingUpdate';
        }
        var fileData;
        var files;
        if (window.FormData !== undefined) {
            var fileUpload = $("#upload").get(0);
            files = fileUpload.files;

            // Create FormData object
            fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            fileData.append("FK_NavigatorID",model.FK_NavigatorID);
        }

        validateFiles(model.FK_NavigatorID, (files[0]!=null? files[0].name:""),function(result){
            if(result =='nofile'){
                alert("Please upload valid docx or pdf file to proceed.");
                return false;
            }
            else if(result == 'valid')
            {
                submitTrainings(model,fileData,url);
            }
            else{
                if(confirm(result)){
                    submitTrainings(model,fileData,url);
                }
            }
        })
    }
    function submitTrainings(model,fileData,url){
        $.ajax({
            url: url,
            type: 'post',
            data: { TrainingModel : model },
            success: function (e) {
                $('#TrainingPopup').modal('hide');
                $.ajax({
                    url: '/Home/UploadFiles',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function (result) {
                        buildBody();
                    },
                    error: function (err) {
                        console.log(err.statusText);
                    }
                });
            },
            error: function (e) {
            }
        });
    }
    //return publicMethods;
    //})();
</script>
@*<script>




        $(document).ready(function(){
            var count = 0;
            $('#grid').find('tr').each(function(){
                if(count!=0)

                $(this.cells[4]).css('text-align','center');
                $(this.cells[5]).css('text-align','center');

                count++;
            })

        })
    </script>*@
