﻿@model EWC_NSAA.ViewModels.RecipientViewModel

<div class="panel panel-default" style="border:none">
    <h3 style="padding-left:20px"><b>Additional / Caregiver Contact</b></h3><br />
    <div class="panel-body" style="margin-bottom: -20px;">
        <div class="col-md-12">

            <div class="row">

                <div class="col-md-4" style="margin-left:-10px">
                    @Html.LabelFor(model => model.tServiceRecipient.CaregiverName, "Contact Name", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.tServiceRecipient.CaregiverName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.CaregiverName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-8 relationship">
                    <label>Relationship</label>
                    <br />
                    <input type="checkbox" name="relation1" id="1">
                    <span class="content" style="margin-right: 56px;">Family Support</span>
                    <input type="checkbox" name="relation2" id="2" style="padding-right:10px">
                    <span class="content">Community</span>
                    <span class="content">Support</span>
                    <input type="checkbox" name="relation3" id="3" style="margin-left:30px">
                    <span class="content">Professional</span>
                    <span class="content">Caretaker</span>
                    <br />
                    <input type="checkbox" name="relation4" id="4" style="padding-top:10px;">
                    <span class="content" style="margin-right: 35px;margin-top: -10px;">Shelter</span>
                    <input type="checkbox" name="relation5" id="5" style="margin-left: 83px;">
                    <span class="content">
                        Other
                        @Html.EditorFor(model => model.tServiceRecipient.RelationshipOther
                         , new { htmlAttributes = new { @class = "form-control", @id = "relationother", @style = "visibility: hidden;width: 200px;margin-left: 290px;margin-top: -20px;" } })
                    </span>
                </div>
                @Html.HiddenFor(model => model.tServiceRecipient.Relationship, new { @id = "relationship" })
            </div>
            <br />
            <div class="row">

                <div class="col-md-4" style="margin-left:-10px">
                    <label>

                        What is this person or facility
                        approved to do for you? (Check all that apply)

                    </label>

                </div>

                <div class="col-md-8 facility">
                    <input type="checkbox" name="facility1" id="71" />
                    <span class="content">Translate</span>
                    <input type="checkbox" name="facility2" id="72" style="margin-left: 101px;">
                    <span class="content">Make  appointments</span>
                    <input type="checkbox" name="facility3" id="73" style="margin-left:33px">
                    <span class="content">Take messages</span>
                    <br />
                    <input type="checkbox" name="facility4" id="74">
                    <span class="content">Co-decision maker</span>
                    &nbsp; &nbsp;
                    <input type="checkbox" name="facility5" id="75" style="margin-left: 4px; ">
                    <span class="content">
                        Other
                        @Html.EditorFor(model => model.tCaregiverApprovals.CaregiverApprovalOther
                             , new { htmlAttributes = new { @class = "form-control ", @id = "facilityother", @style = "visibility: hidden;width: 200px;margin-left: 290px;margin-top: -20px;" } })
                    </span>
                    @Html.HiddenFor(model => model.SelectedApprovals, new { @id = "selectedApprovals" })
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3 form-group" style="margin-left:-10px">
                    @Html.LabelFor(model => model.tServiceRecipient.CaregiverPhone, "Contact Phone", htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-11" style="margin-left:-15px">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            @Html.EditorFor(model => model.tServiceRecipient.CaregiverPhone
                                , new { htmlAttributes = new { @class = "form-control", @id = "contactphone",  @placeholder = "(###)-###-####", @autofocus = "autofocus", @maxlength = "10" } })
                            @Html.ValidationMessageFor(model => model.tServiceRecipient.CaregiverPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-group" style="margin-left:-15px; width:175px;">
                    @Html.LabelFor(model => model.tServiceRecipient.CaregiverPhoneType, "Telephone", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.tServiceRecipient.CaregiverPhoneType, EWC_NSAA.Controllers.EnrollmentController.GetPhoneTypeDropDown(), " "
                   , new { @class = "form-control", @id = "selectbasic", @name = "selectcontacttype" })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.CaregiverPhoneType, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3 form-group" style="margin-left:30px;">
                    @Html.LabelFor(model => model.tServiceRecipient.CaregiverPhonePersonalMessage, "Personal Message", htmlAttributes: new { @class = "control-label" })
                    <div class="form-group">
                        <label id="sliderLabel">
                            <input type="checkbox" value="@Model.tServiceRecipient.CaregiverContactPreference" />
                            <span id="slider">
                                <span id="sliderOn">Yes</span>
                                <span id="sliderOff">No</span>
                                <span id="sliderBlock"></span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="col-md-3 form-group" style="margin-left:-50px; width:350px">
                    @Html.LabelFor(model => model.tServiceRecipient.CaregiverEmail, "Email", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </div>
                        @Html.EditorFor(model => model.tServiceRecipient.CaregiverEmail, new { htmlAttributes = new { @class = "form-control", @id = "contactEmail", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.tServiceRecipient.CaregiverEmail, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="row">

            </div>
            <div class="form-group" style="margin-left:-10px">
                <label>Preference</label>
                <div class="row preference" style="margin-left:-100px; margin-top:10px">
                    <div class="col-md-1"></div>
                    <div class="col-md-2 form-group">
                        <input type="checkbox" name="phonecall" id="1" autocomplete="off" />
                        <span class="content">&nbsp;Call</span>
                    </div>
                    <div class="col-md-2 form-group" style="margin-left: -50px;">
                        <input type="checkbox" name="textmessage" id="4" />
                        <span class="content">&nbsp;Face-to-Face</span>
                    </div>
                    <div class="col-md-2 form-group" style="margin-left: 10px;">
                        <input type="checkbox" name="textmessage" id="2" autocomplete="off" />
                        <span class="content">&nbsp;Email</span>
                    </div>
                    <div class="col-md-2  form-group" style="margin-left: -30px;">
                        <input type="checkbox" name="textmessage" id="3" autocomplete="off" />
                        <span class="content">Text</span>
                    </div>
                </div>
                @Html.HiddenFor(model => model.tServiceRecipient.CaregiverContactPreference,  new { @id = "contactPreferences" })
            </div>

        </div>
    </div>
    <div class="panel-footer" style="border-top: none;">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="col-md-11 pull-right">
                    <a onclick="showHideTab('four')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                    <a onclick="showHideTab('six')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                </div>
            </div>
        </div>
    </div>

</div>

