﻿@model EWC_NSAA.ViewModels.RecipientViewModel

<div class="panel panel-default" style="border:none;">
    <h3 style="padding-left:25px">
        <b>@Html.LabelFor(model => model.tServiceRecipient.Comments, "Notes", htmlAttributes: new { @class = "control-label" })</b>
    </h3>
    <div class="panel-body" style="margin-bottom: -10px;">
        <div class="row" style="padding-left:17px">
            <div class="col-md-12 pull-left">
                @Html.TextAreaFor(model => model.tServiceRecipient.Comments
                , new { htmlAttributes = new { @class = "form-control", @id = "textarea" } })
                @Html.ValidationMessageFor(model => model.tServiceRecipient.Comments, "", new { @class = "text-danger" })
            </div>

        </div>
        <br />
        <label style="padding-left:10px">Previous Notes</label>
        <div class="row" style="padding-left:17px">
            <br />
        </div>
        <div class="row" style="padding-left:17px">
            <div class="col-md-12 pull-left">
                <textarea id="textarea" style="margin: 0px; width: 98%; max-width:98%; height: 200px;" readonly="readonly" disabled="disabled"></textarea>
            </div>
        </div>
    </div><br />
    <div class="panel-footer" style="border-top:none;">
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-left">
                <a onclick="showHideTab('five')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span>  Previous   </a>
                <input type="submit" value="Save" class="btn btn-success" style="background-color: #2485ca;border: 2px #cfcfcf;font-size: 18px !important;" />
            </div>

        </div>
    </div>
</div>
