﻿@model EWC_NSAA.ViewModels.RecipientViewModel

@Html.HiddenFor(model => model.tServiceRecipient.NSRecipientID)
@Html.HiddenFor(model => model.tRace.RaceID)

<div class="panel panel-default" style="border:none; margin-top: -25px;" id="personalInfo" data-toggle="validator">
    <h3 style="padding-left:17px"><b> Personal Information</b></h3>

    <div class="panel-body" style="margin-bottom: -20px;">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2" style="margin-left: 44px;">
                <div class="form-group">
                    <label>Recipient Id</label>
                        @Html.EditorFor(model => model.tServiceRecipient.FK_RecipID, new { htmlAttributes = new { @class = "form-control", id = "txtReceiptId", placeholder = "" } })
                        @Html.ValidationMessageFor(model => model.tServiceRecipient.FK_RecipID, "", new { @class = "text-danger" })
                    </div>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label>First Name</label>
                    @Html.EditorFor(model => model.tServiceRecipient.FirstName, new { htmlAttributes = new { @class = "form-control", id = "txtFirstName", @required="required"} })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.FirstName, "", new { @class = "text-danger"})
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">

                    <label>Middle Initial</label>
                    <div class="col-md-8" style="margin-left:-15px">
                        @Html.EditorFor(model => model.tServiceRecipient.MiddleInitial, new { htmlAttributes = new { @class = "form-control", id = "txtmiddlename" } })
                        @Html.ValidationMessageFor(model => model.tServiceRecipient.MiddleInitial, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding-right:40px;margin-left: -46px;">
                <div class="form-group">
                    <span style="color:red;margin-left:-10px;"> *</span>&nbsp;<label>Last Name</label>
                    @Html.EditorFor(model => model.tServiceRecipient.LastName, new { htmlAttributes = new { @class = "form-control", id = "txtLastName" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3" style="padding-right:70px;">
                <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label>Date of Birth</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.EditorFor(model => model.tServiceRecipient.DOB, new { htmlAttributes = new { @class = "form-control", id = "txtDateofBirth" } })
                </div>
                @Html.ValidationMessageFor(model => model.tServiceRecipient.DOB, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">


            <div class="col-md-4">
                <div class="form-group">
                    <label>Address</label>
                    @Html.EditorFor(model => model.tServiceRecipient.Address1, new { htmlAttributes = new { @class = "form-control", id = "txtAddress" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.Address1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label>Suite #</label>
                    @Html.EditorFor(model => model.tServiceRecipient.Address2, new { htmlAttributes = new { @class = "form-control", name = "apt" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.Address2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label>City</label>
                <div class="form-group">
                    @Html.EditorFor(model => model.tServiceRecipient.City, new { htmlAttributes = new { @class = "form-control", name = "txtcity" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.City, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>State</label>
                    @Html.EditorFor(model => model.tServiceRecipient.State, "CA", new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Zip Code</label><br />
                    <div class="col-md-8" style="margin-left:-15px; width:110px;">
                        @Html.EditorFor(model => model.tServiceRecipient.Zip, new { htmlAttributes = new { @class = "form-control", name = "txtzipcode" } })
                        @Html.ValidationMessageFor(model => model.tServiceRecipient.Zip, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-md-4" style="margin-left: -130px;">
                <label>Email</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </div>
                    @Html.EditorFor(model => model.tServiceRecipient.Email, new { htmlAttributes = new { @class = "form-control", id = "email" } })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row" style="padding-top:10px;">
            <div class="col-md-3">
                <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label>Primary Phone</label>
                <div class="col-md-11" style="margin-left:-15px">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            @Html.EditorFor(model => model.tServiceRecipient.Phone1, new { htmlAttributes = new { @class = "form-control", id = "phone1", placeholder = "(###) ###-####", maxlength=15} })                            
                        </div>
                        @Html.ValidationMessageFor(model => model.tServiceRecipient.Phone1, "", new { @class = "text-danger"})
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label>Primary Phone Type</label>
                <div class="col-md-10" style="margin-left:-15px;">
                    @Html.DropDownListFor(model => model.tServiceRecipient.P1PhoneType, EWC_NSAA.Controllers.EnrollmentController.GetPhoneTypeDropDown(), "Phone Type"
                       , new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.P1PhoneType, "", new { @class = "text-danger"})
                </div>
            </div>

            <div class="col-md-3" style="margin-left: -46px;">
                <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label type="label">Personal Message  </label>
                <div class="form-group personalmsg1">
                    <label id="sliderLabel">
                        <input type="checkbox" id="PersonalMsg1" />
                        <span id="slider">
                            <span id="sliderOn">Yes</span>
                            <span id="sliderOff">No</span>
                            <span id="sliderBlock"></span>
                        </span>
                        @Html.HiddenFor(model => model.tServiceRecipient.P1PersonalMessage, new { @id = "personalMsg1" })
                    </label>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3" style="padding-top:10px">
                <label>Secondary Phone</label>
                <div class="col-md-11" style="margin-left:-15px">
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            @Html.EditorFor(model => model.tServiceRecipient.Phone2, new { htmlAttributes = new { @class = "form-control", id = "phone2", placeholder = "(###) ###-####", maxlength = 10 } })
                        </div>
                        @Html.ValidationMessageFor(model => model.tServiceRecipient.Phone2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding-top:10px">
                <label>Secondary Phone Type</label>
                <div class="col-md-10" style="margin-left:-15px">
                    @Html.DropDownListFor(model => model.tServiceRecipient.P2PhoneType, EWC_NSAA.Controllers.EnrollmentController.GetPhoneTypeDropDown(), "Phone Type"
                     , new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.tServiceRecipient.P2PhoneType, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3 personalmsg2" style="padding-top:10px;margin-left: -46px;">
                <label type="label">Personal Message  </label>
                <div class="form-group">
                    <label id="sliderLabel">
                        <input type="checkbox" id="PersonalMsg2" />
                        <span id="slider">
                            <span id="sliderOn">Yes</span>
                            <span id="sliderOff">No</span>
                            <span id="sliderBlock"></span>
                        </span>
                        @Html.HiddenFor(model => model.tServiceRecipient.P2PersonalMessage, new { @id = "personalMsg2" })
                    </label>
                </div>
            </div>


        </div>

    </div>

    <div class="panel-footer">

        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2 pull-left">
                <a onclick="showHideTab('demo')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
            </div>
            
        </div>
    </div>
</div>

<div class="panel panel-default" style="border:none;display:none; margin-top: -25px;" id="demographic" data-toggle="validator">
    <h3 style="padding-left:17px"> <b>Demographic Information</b></h3>
    <br />
    <div class="panel-body" style="border: none;margin-bottom: -20px;">
        <div class="row">
            <div class="col-xs-4 col-md-2 immigrantStatus">
                <label type="label">New Immigrant  </label><br />
                <label id="sliderLabel">
                    <input type="checkbox"  id="ImmigrantStatus" />
                    <span id="slider">
                        <span id="sliderOn">Yes</span>
                        <span id="sliderOff">No</span>
                        <span id="sliderBlock"></span>
                    </span>
                    @Html.HiddenFor(model => model.tServiceRecipient.ImmigrantStatus, new { @id = "immigrantStatus" })
                </label>
            </div>

            <div class="col-xs-4 col-md-3">
                <div class="form-group">
                    <label>Country of Orgin</label>
                    <div class="col-md-10" style="margin-left:-12px">
                        @Html.DropDownListFor(model => model.tServiceRecipient.CountryOfOrigin, EWC_NSAA.Controllers.EnrollmentController.GetCountriesDropDown(), "Select Country"
                   , new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.tServiceRecipient.CountryOfOrigin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-xs-4 col-md-4 speakenglish" style="margin-left:-30px">
                <span style="color:red;margin-left:-12px"> *</span> <label type="label">Can effectively communicate in English  </label><br />
                <label id="sliderLabel">
                    <input type="checkbox" id="speakEnglish" />
                    <span id="slider">
                        <span id="sliderOn">Yes</span>
                        <span id="sliderOff">No</span>
                        <span id="sliderBlock"></span>
                    </span>
                    @Html.HiddenFor(model => model.tServiceRecipient.AgreeToSpeakEnglish, new { @id = "speaksEngish" })
                </label>
            </div>

            <div class="col-xs-4 col-md-3">
                <div class="form-group">
                    <span style="color:red;margin-left:-10px"> *</span>&nbsp;<label>Primary/Preferred Language</label>
                    @Html.DropDownListFor(model => model.tServiceRecipient.PrimaryLanguage, EWC_NSAA.Controllers.EnrollmentController.GetLanguagesDropDown(), "-- Select Language --"
                    , new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tServiceRecipient.PrimaryLanguage, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="row" style="padding-top:15px;">

            <div class="col-md-3 ethnicity">
                <label type="label">Ethinicity </label>
                <br>
                <div class="checkbox-group">
                    <input type="checkbox" name="ethinicity" id="Hispanic" checked=""><label for="Hispanic">&nbsp; Hispanic</label>
                    <br />                
                    <input type="checkbox" name="ethinicity" id="NonHispanic"><label for="NonHispanic">&nbsp; Non-Hispanic</label>
                </div>
                @Html.HiddenFor(model => model.tServiceRecipient.Ethnicity, new { @id = "selectedEthnicity" })
            </div>
            <div class="col-md-9">
                <div class="col-md-12 race">
                    <label type="label">Race </label>
                    @Html.HiddenFor(model => model.SelectedRace, new { @id = "selectedRace" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox-group">
                                <input type="checkbox" name="race" id="1" checked="" onclick="showDDL('w')"><label for="White">&nbsp; White</label>
                            </div>
                        </div>
                        <div class="col-md-offset-6">
                            <label>&nbsp;</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="checkbox-group">
                                <input type="checkbox" name="race" id="2" onclick="showDDL('af')"><label for="black">&nbsp; Black/African </label>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <select class="form-control" id="ddlafrican" , style="visibility:hidden;" onchange="showafricanddl(this.value)">
                                <option value="" selected="selected">Select Race</option>
                                <option value="1">Other</option>
                            </select>
                            
                        </div>
                        <div class="col-md-4" style="width:250px;">
                            <input type="text" class="form-control" id="txtafrican" style="display:none;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox-group">
                                <input type="checkbox" name="race" id="5" onclick="showDDL('am')"><label for="Hispanic">&nbsp; American Indian/Alaskan Native</label>
                            </div>
                        </div>

                        <div class="col-md-offset-8">
                            <label>&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="checkbox-group">
                                <input type="checkbox" name="race" id="3" onclick="showDDL('a')"><label for="asian">&nbsp; Asian</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.RaceAsianCode, EWC_NSAA.Controllers.EnrollmentController.GetRaceAsianDropDown()
                             , new { @class = "form-control", @disabled = "disabled", id = "ddlAssian", style = "top-padding:60px;visibility:hidden;" })
                            @Html.ValidationMessageFor(model => model.RaceAsianCode, "", new { @class = "text-danger", @disabled = "disabled" })
                        </div>
                        <div class="col-md-4" style="width:250px;">
                            <input type="text" class="form-control" id="txtAsian" style="display:none;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="checkbox-group">
                                <input type="checkbox" name="race" id="4" onclick="showDDL('p')"><label for="pacific">&nbsp; Pacific Islander</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.RacePacIslanderCode, EWC_NSAA.Controllers.EnrollmentController.GetRacePacIslanderDropDown()
                            , htmlAttributes: new { @class = "form-control", id = "ddlPacific", @disabled = "disabled", style = "visibility:hidden;" })
                            @Html.ValidationMessageFor(model => model.RacePacIslanderCode, "", new { @class = "text-danger", @disabled = "disabled" })
                        </div>
                        <div class="col-md-4" style="width:250px;">
                            <input type="text" class="form-control" id="txtpacific" style="display:none;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox-group">
                                <input type="checkbox" name="race" value="eastern" id="6" onclick="showDDL('e')"><label for="easteren">&nbsp; Middle Eastern</label>
                            </div>
                        </div>
                        <div class="col-md-offset-6">
                            <label>&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox-group">
                                <input type="checkbox" name="race" id="7" value="mixedrace" onclick="showDDL('m')"><label for="mixedrace">&nbsp; Mixed Race</label>
                            </div>
                        </div>
                        <div class="col-md-offset-6">
                            <label>&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="checkbox-group">
                                <input type="checkbox" name="race" id="8" value="other" onclick="showDDL('other')"><label for="other">&nbsp; Other</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.tRace.RaceOther, new { htmlAttributes = new { @class = "form-control ", id = "ddlother", style = "visibility:hidden;" } })
                            @Html.ValidationMessageFor(model => model.tRace.RaceOther, "", new { @class = "text-danger ", @disabled = "disabled" })
                        </div>
                    </div>

                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">

        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="col-md-11 pull-right" >
                    <a onclick="showHideTab('personalInfo')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                    <a onclick="showHideTab('two')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                    </div>

                </div>
            
        </div>
    </div>
</div>
