﻿@model EWC_NSAA.ViewModels.RecipientViewModel

<div class="panel panel-default" style="border:none" id="nsEnrollmentFour">
    <h3 style="padding-left:20px"> <b>  Contact Preferences</b></h3>
    <div class="panel-body" style="margin-bottom: -30px;">
        <div class="row">

            <div class="col-md-6">
                <div class="panel-heading" style="margin-left: -16px; margin-right: -16px;">Primary Contact</div>
            </div>
            <div class="col-md-6">
                <div class="panel-heading " style="margin-left: -16px; margin-right: -16px; ">Secondary Contact</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="border: 1px solid #ccc;  border-radius: 4px;WHITE-SPACE: normal; margin-right: 10px;margin-left: 10px; width: 48%;">
                
                <div class="col-md-4" style="margin-top:10px">
                    <label> Day</label>
                    @foreach (var item in EWC_NSAA.Controllers.EnrollmentController.GetAllWeekdays().ToList())
                    {
                        <div class="form-group" style="margin-top:10px;">
                            <input type="checkbox" name="primaryday" id="@item.WeekdayCode" value="@item.WeekdayName" autocomplete="off" onclick="return chkBoxClick();" onload="return chkBoxLoad();">
                            <label style="font-weight:normal!important" for="optionId">@item.WeekdayName</label>
                        </div>
                    }
                </div>
                <div class="col-md-4" style="margin-top:10px">
                    <label>Time</label>
                    @foreach (var item in EWC_NSAA.Controllers.EnrollmentController.GetAllTimes().ToList())
                    {
                        <div class="form-group" style="margin-top:10px">
                            <input type="checkbox" name="primarytime" id="@item.TimeCode" value="@item.TimeName" autocomplete="off" onclick="return chkBoxClick();" onload="return chkBoxLoad();">
                            <label name="primarytime" style="font-weight:normal!important" for="optionId">@item.TimeName</label>
                        </div>
                    }
                    @Html.TextBoxFor(model => model.tNavigationCycle.ContactPrefHoursOther
                    , new { @class = "form-control", @disabled = "disabled", id = "contactprefother1", style = "margin-left: 100px; visibility:hidden; margin-top: -48px;width:200px;" })
                </div>
                <div class="col-md-4" style="margin-top:10px">
                    <label>Type</label>
                    @foreach (var item in EWC_NSAA.Controllers.EnrollmentController.GetCaregiverContactPrefDropDown())
                    {
                        <div class="form-group" style="margin-top:10px">
                            <input type="checkbox" name="primarytype" id="@item.Value" value="@item.Text" autocomplete="off" onclick="return chkBoxClick();" onload=" return chkBoxLoad();">
                            <label style="font-weight:normal!important" for="optionId">@item.Text</label>
                        </div>
                    }   
                </div>
            </div>

            <div class="col-md-6 " style="border: 1px solid #ccc;  border-radius: 4px; width: 48%;">
                <div class="col-sm-4" style="margin-top:10px">
                    <label> Day</label>
                    @foreach (var item in EWC_NSAA.Controllers.EnrollmentController.GetAllWeekdays().ToList())
                    {
                        <div class="form-group" style="margin-top:10px">
                            <input type="checkbox" name="secondaryday" id="@item.WeekdayCode" value="@item.WeekdayName" autocomplete="off">
                            <label style="font-weight:normal!important" for="optionId">@item.WeekdayName</label>
                        </div>
                    }
                </div>
                <div class="col-md-4" style="margin-top:10px">
                    <label>Time</label>
                    @foreach (var item in EWC_NSAA.Controllers.EnrollmentController.GetAllTimes().ToList())
                    {
                        <div class="form-group" style="margin-top:10px">
                            <input type="checkbox" name="secondarytime" id="@item.TimeCode" value="@item.TimeName" autocomplete="off">
                            <label style="font-weight:normal!important" name="secondarytime" for="optionId">@item.TimeName</label>
                        </div>
                    }
                    <input class="form-control" name="contactprefother2" id="contactprefother2" placeholder="" type="text" required="" autofocus="" style="margin-left: 100px;visibility:hidden;margin-top: -48px; width:200px;" />

                </div>
                <div class="col-md-4" style="margin-top:10px">
                    <label>Type</label>
                    @foreach (var item in EWC_NSAA.Controllers.EnrollmentController.GetCaregiverContactPrefDropDown())
                    {
                        <div class="form-group" style="margin-top:10px">
                            <input type="checkbox" name="secondarytype" id="@item.Value" value="@item.Text" autocomplete="off">
                            <label style="font-weight:normal!important" for="optionId">@item.Text</label>
                        </div>
                    }  
                </div>
            </div>
        </div><br /><br />
        <div class="panel-footer" style="border-top: none;">
            <div class="row">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <div class="col-md-11 pull-right">
                            <a onclick="showHideTab('three')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;"> <span class="glyphicon glyphicon-arrow-left"></span> Previous </a>
                            <a onclick="showHideTab('five')" class="btn" id="back-step" style="cursor:pointer;background-color: #3a3a3a;border: 2px #cfcfcf;font-size: 18px !important;color: #fff;">  &nbsp;&nbsp;&nbsp; Next <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;  </a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
