﻿@using MvcCheckBoxList.Model
@model EWC_NSAA.ViewModels.RecipientViewModel

@{
    ViewBag.Title = "Create";
}

@{var htmlListInfo = new HtmlListInfo(HtmlTag.vertical_columns, 3, null, TextLayout.Default, TemplateIsUsed.Yes); }

<head>
    <!-- CaregiverInfo.cshtml -->
    <meta charset="utf-8" />
    <!-- CaregiverInfo.cshtml -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

    <!-- CaregiverInfo.cshtml -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ReferralInfo.cshtml -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>



<style type="text/css">
    /*_RecipientContactPreference.cshtml */
    b, strong {
        font-weight: lighter;
        margin-right: 10px;
    }

    /*_Comments.cshtml*/
    textarea {
        max-width: 98%;
        width: 98%;
        height: 100px;
    }
</style>

@using (Html.BeginForm("Create", "Enrollment", FormMethod.Post, new { id = Model }))
{
    @Html.AntiForgeryToken()

    <div class="row col-md-12">
        <!-- widget content -->
        <div class="widget-body margin24">
            <div class="row">
                <form id="wizard-1" novalidate="novalidate">
                    <div id="bootstrap-wizard-1" class="col-sm-12">
                        <div class="form-bootstrapWizard">
                            <ul class="bootstrapWizard form-wizard col-md-offset-1" style="padding-left:50px;">
                                <li class="active" data-target="#step1">
                                    <a onclick="return showHideTab('one')" data-toggle="tab" class="active" style="cursor:pointer"> <span class="step">1</span> <span class="title">Recipient <br /><br />Information</span> </a>
                                </li>
                                <li data-target="#step2" class="">
                                    <a onclick="return showHideTab('two','two')" data-toggle="tab" style="cursor:pointer"> <span class="step">2</span> <span class="title">Referral<br /><br /> Information</span> </a>
                                </li>
                                <li data-target="#step3" class="">
                                    <a onclick="return showHideTab('three','three')" data-toggle="tab" style="cursor:pointer"> <span class="step">3</span> <span class="title">Provider <br /><br />Information</span> </a>
                                </li>
                                <li data-target="#step4">
                                    <a onclick="return showHideTab('four','four')" data-toggle="tab" style="cursor:pointer"> <span class="step">4</span> <span class="title">Contact <br /><br />Preferences</span> </a>
                                </li>
                                <li data-target="#step5">
                                    <a onclick="return showHideTab('five','five')" data-toggle="tab" style="cursor:pointer"> <span class="step">5</span> <span class="title">Additional /<br /><br />Caregiver<br /><br /> Contact</span> </a>
                                </li>
                                <li data-target="#step6">
                                    <a onclick="return showHideTab('six','six')" data-toggle="tab" style="cursor:pointer"> <span class="step">6</span> <span class="title">Notes</span> </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <br />
                        <div class="tab-content">
                            <div class="panel panel-default margin30" id="tab1" style="border: none; margin-bottom: -15px;">
                                <div class="panel-body  col-md-12" >
                                    <div class="tab-pane active">
                                        @Html.Partial("_PersonalInfo", Model)
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default margin30" id="tab2"  style="border: none; margin-bottom: -15px;">
                                <div class="panel-body  col-md-12">
                                    <div class="tab-pane">
                                        @Html.Partial("_ReferralInfo", Model)
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default margin30" id="tab3" style="border: none; margin-bottom: -15px;">
                                <div class="panel-body  col-md-12" >
                                    <div class="tab-pane">
                                        @Html.Partial("_NSProvider", Model)
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default margin30" id="tab4"  style="border: none; margin-bottom: -15px;">
                                <div class="panel-body col-md-12" >
                                    <div class="tab-pane" >

                                        @Html.Partial("_RecipientContactPreference", Model)
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default margin30" id="tab5" style="border: none; margin-bottom: -15px;">
                                <div class="panel-body col-md-12">
                                    <div class="tab-pane">
                                        @Html.Partial("_CaregiverInfo", Model)
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default margin30" id="tab6" style="border: none; margin-bottom: -15px;">
                                <div class="panel-body col-md-12">
                                    <div class="tab-pane">
                                        @Html.Partial("_Comments", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end widget content -->

    </div>
}
@section scripts{
@Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tab2').css('display', 'none');
            $('#tab3').css('display', 'none');
            $('#tab4').css('display', 'none');
            $('#tab5').css('display', 'none');
            $('#tab6').css('display', 'none');
            $('#txtDateofBirth').datepicker().on('changeDate', function (ev) {
                $('li.active').addClass('halfactive');
                $('li.active').removeClass('active');
            });
        })

        $("input[type='text']").keyup(function (e) {
            if (e.target.value != "") {
                $('li.active').addClass('halfactive')
                $('li.active').removeClass('active')
                $(e.target).css('border-color', '');
            }
            else {
                $('li.halfactive').addClass('active')
                $('li.halfactive').removeClass('halfactive')
            }
        });

        function showHideTab(currentTab, previous) {
            if (validateForm(currentTab, previous)) {
                if (currentTab == "one") {
                    $('#tab1').css('display', 'block');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'none');
                    $('#tab4').css('display', 'none');
                    $('#tab5').css('display', 'none');
                    $('#tab6').css('display', 'none');
                }
                else if (currentTab == "two") {
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'block');
                    $('#tab3').css('display', 'none');
                    $('#tab4').css('display', 'none');
                    $('#tab5').css('display', 'none');
                    $('#tab6').css('display', 'none');
                }
                else if (currentTab == "three") {
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'block');
                    $('#tab4').css('display', 'none');
                    $('#tab5').css('display', 'none');
                    $('#tab6').css('display', 'none');
                }
                else if (currentTab == "four") {
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'none');
                    $('#tab4').css('display', 'block');
                    $('#tab5').css('display', 'none');
                    $('#tab6').css('display', 'none');
                }
                else if (currentTab == "five") {
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'none');
                    $('#tab4').css('display', 'none');
                    $('#tab5').css('display', 'block');
                    $('#tab6').css('display', 'none');
                }
                else if (currentTab == "six") {
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'none');
                    $('#tab4').css('display', 'none');
                    $('#tab5').css('display', 'none');
                    $('#tab6').css('display', 'block');
                }
                else if (currentTab == "demo") {
                    $('#tab1').css('display', 'block');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'none');
                    $('#tab4').css('display', 'none');
                    $('#tab5').css('display', 'none');
                    $('#tab6').css('display', 'none');
                    $('#demographic').css('display', 'block');
                    $('#personalInfo').css('display', 'none');
                }
                else if (currentTab == "personalInfo") {
                    $('#tab1').css('display', 'block');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'none');
                    $('#tab4').css('display', 'none');
                    $('#tab5').css('display', 'none');
                    $('#tab6').css('display', 'none');
                    $('#demographic').css('display', 'none');
                    $('#personalInfo').css('display', 'block');
                }

                else if (currentTab == "provider") {
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'block');
                    $('#tab4').css('display', 'none');
                    $('#tab5').css('display', 'none');
                    $('#tab6').css('display', 'none');
                    $('#provider').css('display', 'block');
                    $('#healthcare').css('display', 'none');
                }

                else if (currentTab == "healthcare") {
                    $('#tab1').css('display', 'none');
                    $('#tab2').css('display', 'none');
                    $('#tab3').css('display', 'block');
                    $('#tab4').css('display', 'none');
                    $('#tab5').css('display', 'none');
                    $('#tab6').css('display', 'none');
                    $('#provider').css('display', 'none');
                    $('#healthcare').css('display', 'block');
                }

            }

        }

        function validateForm(currText, previous) {
            var tabVal = "";
            if (previous != undefined) {
                currText = previous;
            }
            if (currText == "one") {
                tabVal = "#step1";
            }
            else if (currText == "two") {
                tabVal = "#step2";
            }
            else if (currText == "three") {
                tabVal = "#step3";
            }
            else if (currText == "four") {
                tabVal = "#step4";
            }
            else if (currText == "five") {
                tabVal = "#step5";
            }
            else if (currText == "six") {
                tabVal = "#step6";
            }
            if (tabVal != "") {
                setSelected(tabVal)
            }
            return true;
        }

        function setSelected(value) {
            $('.bootstrapWizard').find('li').each(function () {
                if ($(this).attr('data-target') == value) {
                    $(this).addClass('halfactive');
                    $(this).removeClass('active');
                }
                else {
                    $(this).removeClass('active');
                    $(this).removeClass('halfactive');
                }
            })
        }

        function validateControl(ctrlId) {
            if ($.trim($('#' + ctrlId).val()) == "") {
                $('#' + ctrlId).css('border-color', 'red');
                $('#' + ctrlId).focus();
                return false;
            }
            return true;
        }
        
        //*** _CaregiverInfo.cshtml --Starts here
        $('#contactphone').keyup(function () {
            var text = $(this).val();
            var format = "";
            if (text.length == 10) {
                format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
            }
            else {
                format = $(this).val();
            }
            $(this).val(format);
        });

        $(document).ready(function () {

            $('.relationship> input[type=checkbox]').click(function (e) {
                var isChecked = e.checked;
                var chkName = $(this).attr('name');
                var chkId = $(this).attr('id');
                $(this).siblings().attr("checked", false);
                e.checked = isChecked;
                $('#relationother').css("visibility", "hidden");
                //Binding to the hidden value;
                $('#relationship').val($(this).attr("id"));

            });

            $('input[name=relation5]').on('click', function () {
                var isChecked = $(this).is(":checked");
                if (isChecked)
                    $('#relationother').css("visibility", "visible");
                else
                    $('#relationother').css("visibility", "hidden");
            });
            
            $('.facility> input[type=checkbox]').click(function (e) {
                var arr = $('.facility>  input:checkbox:checked').map(function () {
                    return this.id;
                }).get();
                $('#selectedApprovals').val(arr);

            });

            $('input[name=facility5]').on('click', function () {
                var isChecked = $(this).is(":checked");
                if (isChecked)
                    $('#facilityother').css("visibility", "visible");
                else
                    $('#facilityother').css("visibility", "hidden");
            });
            
            $('.preference').find('input[type=checkbox]').change(function (e) {
                var arr = $('.preference').find(' input:checkbox:checked').map(function () {
                    return this.id;
                }).get();
                $('#contactPreferences').val(arr);
            });           

        });
        //*** _CaregiverInfo.cshtml --Ends here


        //*** _NSProvider.cshtml --Starts here
        $('#contactphone').keyup(function () {
            var text = $(this).val();
            var format = "";
            if (text.length == 10) {
                format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
            }
            else {
                format = $(this).val();
            }

            $(this).val(format);
        });
        
        $('.healthinsurancestatus').find('input[type=checkbox]').change(function (e) {

            var isChecked = e.checked;
            $(this).siblings().attr("checked", false);
            e.checked = isChecked;
        });
        //*** _NSProvider.cshtml --Ends here

        //*** _PersonalInfo.cshtml --Starts here
        function showafricanddl(value) {
            if (value == "1") {
                $('#txtafrican').show();
            }
            else {
                $('#txtafrican').hide();
            }
        }

        function showDDL(value) {
            if (value == 'a') {
                $('#ddlPacific').attr('disabled', 'disabled').css("visibility", "hidden");
                $('#ddlother').attr('disabled', 'disabled').css("visibility", "hidden");
                $('#ddlAssian').removeAttr('disabled').css("visibility", "visible");
                $('#ddlafrican').css("visibility", "hidden");
            }
            else if (value == 'p') {
                $('#ddlAssian').attr('disabled', 'disabled').css("visibility", "hidden");
                $('#ddlother').attr('disabled', 'disabled').css("visibility", "hidden");
                $('#ddlPacific').removeAttr('disabled').css("visibility", "visible");
                $('#ddlafrican').css("visibility", "hidden");
            }
            else if (value == 'other') {
                $('#ddlAssian').attr('disabled', 'disabled').css("visibility", "hidden");
                $('#ddlPacific').attr('disabled', 'disabled').css("visibility", "hidden");
                $('#ddlother').removeAttr('disabled').css("visibility", "visible");
                $('#ddlafrican').css("visibility", "hidden");
            }
            else if (value == 'af') {

                $('#ddlother').attr('disabled', 'disabled').css("visibility", "hidden");
                $('#ddlAssian').attr('disabled', 'disabled').css("visibility", "hidden");
                $('#ddlPacific').attr('disabled', 'disabled').css("visibility", "hidden");
                $('#ddlafrican').css("visibility", "visible");
            }
            else {

                $('#ddlafrican').attr('disabled', 'disabled').css("visibility", "hidden");
                $('#ddlother').attr('disabled', 'disabled').css("visibility", "hidden");
                $('#ddlAssian').attr('disabled', 'disabled').css("visibility", "hidden");
                $('#ddlPacific').css("visibility", "hidden");
            }

            $('#txtAsian').hide();
            $('#txtpacific').hide();
            $('#txtafrican').hide();

        }

        $('#ddlAssian').change(function () {
            if ($('#ddlAssian').val() == "20") {
                $('#txtAsian').show();
            }
            else {
                $('#txtAsian').hide();
            }
        });

        $('#ddlPacific').change(function () {
            if ($('#ddlPacific').val() == "24") {
                $('#txtpacific').show();
            }
            else {
                $('#txtpacific').hide();
            }
        });

        $('.ethnicity').find('input:checkbox').click(function () {
            var eid = $(this).attr('id');
            var flag = false;
            if (eid == 'Hispanic') {
                $("#NonHispanic").attr("checked", false);
                flag = true;
            }
            else 
                $("#Hispanic").attr("checked", false);
            
            $('#selectedEthnicity').val(flag);
        });
        
        $('.immigrantStatus').find('input:checkbox').click(function () {
            var isChecked = $(this).is(":checked");
            $('#immigrantStatus').val(isChecked);
        });

       //('#checkbox').is(':checked');
        /* For the primary phone, personal message option */
        $('#IsMsg1Enabled').change(function () {
            if ($(this).val() == true) {
                $('#PersonalMsg1').val(true);
            }
            else {
                $('#PersonalMsg1').val(false);
            }
        })

        /* For the secondary phone, personal message option */
        $('#IsMsg2Enabled').change(function () {
            if ($(this).val() == true) {
                $('#PersonalMsg2').val(true);
            }
            else {
                $('#PersonalMsg2').val(false);
            }
        })

        /* For the Immigration Status, personal message option */
        $('#IsImmigrant').change(function () {
            if ($(this).val() == true) {
                $('#ImmigrantStatus').val(true);
            }
            else {
                $('#ImmigrantStatus').val(false);
            }
        })

        /* For the English speaking, personal message option */
        $('.speakenglish').find('input:checkbox').click(function () {
            var isChecked = $(this).is(":checked");
            $('#speaksEngish').val(isChecked);
        })

        $('.personalmsg1').find('input:checkbox').click(function () {
            var isChecked = $(this).is(":checked");
            $('#personalMsg1').val(isChecked);
        })

        $('.personalmsg2').find('input:checkbox').click(function () {
            var isChecked = $(this).is(":checked");
            $('#personalMsg2').val(isChecked);
        })
        
        /*For the Primary Phone*/
        $('#phone1').keyup(function () {
            var text = $(this).val();
            var format = "";
            if (text.length == 10) {
                format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
            }
            else {
                format = $(this).val();
            }

            $(this).val(format);
        });

        /* For the Secondary Phone */
        $('#phone2').keyup(function () {
            var text = $(this).val();
            var format = "";
            if (text.length == 10) {
                format = "(" + text.substr(0, 3) + ") " + text.substr(3, 3) + "-" + text.substr(6, 4) + "";
            }
            else {
                format = $(this).val();
            }

            $(this).val(format);
        });

        /*  For selected rage  */
        $('.race').find('input[type=checkbox]').click(function (e) {
            var chkId = $(this).attr('id');
            $('.race').find('input[type=checkbox]').attr("checked", false);
            $("#" + chkId).prop('checked', true);
            $('#selectedRace').val(chkId);
        });
        
        //*** _PersonalInfo.cshtml --Ends here

        //*** _RecipientContactPreference.cshtml --Starts here
        $('#nsEnrollmentFour').find("input[type='checkbox']").change(function (e) {
            if (e.target.id == 'sother' && e.target.checked) {
                $('#contactprefother2').removeAttr('disabled').css("visibility", "visible");
                $('#contactprefother').attr('disabled', 'disabled').css("visibility", "hidden");
                fnUncheck();
            }
            else if (e.target.id == 'pother' && e.target.checked) {
                $('#contactprefother').removeAttr('disabled').css("visibility", "visible");
                $('#contactprefother2').attr('disabled', 'disabled').css("visibility", "hidden");
                fnUncheck();
            }
            else {
                $('#pother').removeAttr('checked');
                $('#contactprefother2').removeAttr('disabled').css("visibility", "hidden");
                $('#contactprefother').attr('disabled', 'disabled').css("visibility", "hidden");
            }
        })

        function fnUncheck() {
            $('#nsEnrollmentFour').find("input[type='checkbox']").each(function () {
                if (this.id != 'sother' && this.id != 'pother' && this.id.lastIndexOf('preferencetime') != -1) {
                    this.checked = false;
                }
            });
        }
        //*** _RecipientContactPreference.cshtml --Ends here

        //*** _ReferralInfo.cshtml --Ends here
        $('#datereferral').datepicker().on('changeDate', function (ev) { });
        //*** _ReferralInfo.cshtml --Ends here
    </script>
}


