﻿@using MvcCheckBoxList.Model
@model EWC_NSAA.ViewModels.RecipientViewModel

@{
    ViewBag.Title = "Edit";
}
<head>
    <link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>

<div class="row col-md-12">
    <!-- widget content -->
    <div class="widget-body margin24">
        <div class="row">
            <form id="wizard-1" novalidate="novalidate">
                <div id="bootstrap-wizard-1" class="col-sm-12">
                    <div class="form-bootstrapWizard">
                        <ul class="bootstrapWizard form-wizard col-md-offset-1" style="padding-left:50px;">
                            <li class="active" data-target="#step1">
                                <a onclick="return showHideTab('one')" data-toggle="tab" class="active" style="cursor:pointer"> <span class="step">1</span> <span class="title">Recipient <br /><br />Information</span> </a>
                            </li>
                            <li data-target="#step2" class="">
                                <a onclick="return showHideTab('two','two')" data-toggle="tab" style="cursor:pointer"> <span class="step">2</span> <span class="title">Referral<br /><br /> Information</span> </a>
                            </li>
                            <li data-target="#step3" class="">
                                <a onclick="return showHideTab('three','three')" data-toggle="tab" style="cursor:pointer"> <span class="step">3</span> <span class="title">Provider <br /><br />Information</span> </a>
                            </li>
                            <li data-target="#step4">
                                <a onclick="return showHideTab('four','four')" data-toggle="tab" style="cursor:pointer"> <span class="step">4</span> <span class="title">Contact <br /><br />Preferences</span> </a>
                            </li>
                            <li data-target="#step5">
                                <a onclick="return showHideTab('five','five')" data-toggle="tab" style="cursor:pointer"> <span class="step">5</span> <span class="title">Additional /<br /><br />Caregiver<br /><br /> Contact</span> </a>
                            </li>
                            <li data-target="#step6">
                                <a onclick="return showHideTab('six','six')" data-toggle="tab" style="cursor:pointer"> <span class="step">6</span> <span class="title"> Notes</span> </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <br />
                    <div class="tab-content">
                        <div class="panel panel-default margin30" id="tab1">
                            <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">

                                <div class="tab-pane active">
                                    @Html.Partial("_PersonalInfo", Model)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default margin30" id="tab2">
                            <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">
                                <div class="tab-pane">
                                    @Html.Partial("_ReferralInfo", Model)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default margin30" id="tab3">
                            <div class="panel-body  col-md-12" style="border: none; margin-bottom: -15px;">
                                <div class="tab-pane">
                                    @Html.Partial("_NSProvider", Model)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default margin30" id="tab4" style="border: none; margin-bottom: -15px;">
                            <div class="panel-body col-md-12">
                                <div class="tab-pane">

                                    @Html.Partial("Ns_Enrollment_tab4", Model)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default margin30" id="tab5" style="border: none; margin-bottom: -15px;">
                            <div class="panel-body col-md-12">
                                <div class="tab-pane">
                                    @Html.Partial("Ns_Enrollment_tab5", Model)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default margin30" id="tab6" style="border: none; margin-bottom: -15px;">
                            <div class="panel-body col-md-12">
                                <div class="tab-pane">
                                    @Html.Partial("Ns_Enrollment_tab6", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end widget content -->

</div>
<script>
    $(document).ready(function () {
        $('#tab2').css('display', 'none');
        $('#tab3').css('display', 'none');
        $('#tab4').css('display', 'none');
        $('#tab5').css('display', 'none');
        $('#tab6').css('display', 'none');
        $('#txtDateofBirth').datepicker().on('changeDate', function (ev) {
            $('li.active').addClass('halfactive');
            $('li.active').removeClass('active');
        });
    })

    $("input[type='text']").keyup(function (e) {
        if (e.target.value != "") {
            $('li.active').addClass('halfactive')
            $('li.active').removeClass('active')
            $(e.target).css('border-color', '');
        }
        else {
            $('li.halfactive').addClass('active')
            $('li.halfactive').removeClass('halfactive')
        }
    });

    function showHideTab(currentTab, previous) {
        if (validateForm(currentTab, previous)) {
            if (currentTab == "one") {
                $('#tab1').css('display', 'block');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "two") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'block');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "three") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'block');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "four") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'block');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "five") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'block');
                $('#tab6').css('display', 'none');
            }
            else if (currentTab == "six") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'block');
            }
            else if (currentTab == "demo") {
                $('#tab1').css('display', 'block');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
                $('#demographic').css('display', 'block');
                $('#personalInfo').css('display', 'none');
            }
            else if (currentTab == "personalInfo") {
                $('#tab1').css('display', 'block');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'none');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
                $('#demographic').css('display', 'none');
                $('#personalInfo').css('display', 'block');
            }

            else if (currentTab == "provider") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'block');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
                $('#provider').css('display', 'block');
                $('#healthcare').css('display', 'none');
            }

            else if (currentTab == "healthcare") {
                $('#tab1').css('display', 'none');
                $('#tab2').css('display', 'none');
                $('#tab3').css('display', 'block');
                $('#tab4').css('display', 'none');
                $('#tab5').css('display', 'none');
                $('#tab6').css('display', 'none');
                $('#provider').css('display', 'none');
                $('#healthcare').css('display', 'block');
            }

        }

    }

    function validateForm(currText, previous) {
        var tabVal = "";
        if (previous != undefined) {
            currText = previous;
        }
        if (currText == "one") {
            tabVal = "#step1";
        }
        else if (currText == "two") {
            tabVal = "#step2";
        }
        else if (currText == "three") {
            tabVal = "#step3";
        }
        else if (currText == "four") {
            tabVal = "#step4";
        }
        else if (currText == "five") {
            tabVal = "#step5";
        }
        else if (currText == "six") {
            tabVal = "#step6";
        }
        if (tabVal != "") {
            setSelected(tabVal)
        }
        return true;
    }
    function setSelected(value) {
        $('.bootstrapWizard').find('li').each(function () {
            if ($(this).attr('data-target') == value) {
                $(this).addClass('halfactive');
                $(this).removeClass('active');
            }
            else {
                $(this).removeClass('active');
                $(this).removeClass('halfactive');
            }
        })
    }

    function validateControl(ctrlId) {
        if ($.trim($('#' + ctrlId).val()) == "") {
            $('#' + ctrlId).css('border-color', 'red');
            $('#' + ctrlId).focus();
            return false;
        }
        return true;
    }

</script>
