﻿@{
    ViewBag.Title = "Enrollment";
}
<div class="row col-md-12" style="MARGIN-LEFT:0px;margin-top: 40px;">
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-primary" style="border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
            <div class="panel-heading" style="background-color: rgb(0, 150, 136);border-color:rgb(0, 150, 136);">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">Screening Navigation</div>
                    </div>
                </div>
            </div>
            <a href="#" style="color: #060606;">
                <div class="panel-footer">
                    <span class="pull-left">Screening Navigation</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-primary" style="border-color:rgb(221, 221, 221); color: #060606;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
            <div class="panel-heading" style="background-color:  rgb(0, 150, 136);border-color:rgb(0, 150, 136);">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">NSAA</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Create", "Enrollment")" onclick="navigationClick()">
                <div class="panel-footer">
                    <span class="pull-left">Enrollment</span>
                    <div class="clearfix"></div>
                </div>
            </a>

            <a href="@Url.Action("ViewEnrolledRecipient", "Enrollment")" onclick="navigationClick()">
                <div class="panel-footer">
                    <span class="pull-left">NS Recipient</span>
                    <div class="clearfix"></div>
                </div>
            </a>

            <a href="" style="color: #060606;">
                <div class="panel-footer">
                    <span class="pull-left">Cycle</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default" style="box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0 rgba(0, 0, 0, 0.2);">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">Messages</div>
                    </div>
                </div>
            </div>
            <ul>
                <li>
                    ASP.NET is an open-source[2] server-side web application framework designed for web development to produce dynamic web pages.
                </li>
                <br />
                <br />
                <li>
                    It was developed by Microsoft to allow programmers to build dynamic web sites, web applications and web services.
                </li>
                <br />
                <br />
                <li>
                    It was first released in January 2002 with version 1.0 of the .NET Framework, and is the successor to Microsoft's Active Server Pages (ASP) technology. ASP.NET is built on the Common Language Runtime (CLR), allowing programmers to write ASP.NET code using any supported .NET language. The ASP.NET SOAP extension framework allows ASP.NET components to process SOAP messages.
                </li>
                <br />
                <br />
                <li>
                    ASP.NET's successor is ASP.NET Core. It is a re-implementation of ASP.NET as a modular web framework, together with other frameworks like Entity Framework. The new framework uses the new open-source .NET Compiler Platform (codename "Roslyn") and is cross platform. ASP.NET MVC, ASP.NET Web API, and ASP.NET Web Pages (a platform using only Razor pages) have merged into a unified MVC 6
                </li>
                <br />
                <br />
            </ul>
        </div>
    </div>

</div>

<script type="text/javascript">

    function navigationClick() {

        var location = window.location.href;

        if (location.toLocaleLowerCase().lastIndexOf('enrollment/ViewEnrolledRecipient') != -1) {
            $('#selectedHeading').css('background-color', '#2481c6');
            $('#selectedSpan').html('<font style="font-size:28px">Navigation Services</font> > <font style="font-size:24px; font-weight: bold; ">NS Recipient</font>');
        }

    }
    $(document).ready(function () {

        var location = window.location.href;
        if (location.toLocaleLowerCase().lastIndexOf('enrollment/ViewEnrolledRecipient') != -1) {
            $('#selectedHeading').css('background-color', '#2481c6');
            $('#selectedSpan').html('<font style="font-size:28px">Navigation Services</font> > <font style="font-size:24px; font-weight: bold; ">NS Recipient</font>');
        }

    });
</script>