﻿@using EWC_NSAA.ViewModels
@model RecipientListViewModel
@{
    ViewBag.Title = "ViewEnrolledRecipient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<style type="text/css">
    .table {
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px #000000 !important;
        background-color: white;
    }

    .table-header {
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .webgrid-header a {
        text-decoration: none !important;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
        color: white !important;
    }

    .table th {
        padding: 17px 6px 10px;
        text-align: center;
        align-items: center;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .table td {
        padding: 5px 2px 2px;
        text-align: center;
        align-items: center;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .table-header {
        background-color: #7EB2B2;
        color: white;
        padding-bottom: 2px;
        padding-top: 2px;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .table-footer {
    }

    .table-row-style {
        padding: 3px 7px 2px;
        text-align: center;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .table-alternating-row {
        background-color: #DEF9F9;
        padding: 3px 7px 2px;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .rating-star-block .star.outline {
        background: url("~/Images/star-empty-lg.png") no-repeat scroll 0 0 rgb(182, 255, 0);
    }

    .rating-star-block .star.filled {
        background: url("~/Images/star-fill-lg.png") no-repeat scroll 0 0 rgb(255, 106, 0);
    }

    .rating-star-block .star {
        color: rgb(255, 216, 0);
        display: inline-block;
        height: 24px;
        overflow: hidden;
        text-indent: -999em;
        width: 24px;
    }

    a {
        color: #005782;
        text-decoration: none;
    }

    table tr th {
        padding: 17px 5px 10px;
        text-align: center;
        background-color: #7EB2B2;
        align-items: center;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
        color: #fff;
    }

    table tr td {
        padding: 5px 2px 2px;
        text-align: center;
        align-items: center;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .table-row-style {
        background-color: #DEF9F9;
        padding: 3px 7px 2px;
        text-align: center;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #DEF9F9;
        padding: 3px 7px 2px;
        font-family: 'FiraSans-Light' !important;
        font-size: 18px !important;
    }


    #Encountergrid .left {
        text-align: left;
    }

    #Encountergrid .center {
        text-align: center;
    }

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu .dropdown-menu {
            top: -1px;
            left: 50px;
            margin-top: -5px;
            z-index: 100;
            display: none;
        }

    .dropdown-menu {
        position: absolute;
        top: -1px;
        left: 100px;
        margin-top: -5px;
        z-index: 50;
        display: none;
    }
</style>

<div class="panel panel-default" style="border:none;margin-top: -10px;">
    <div class="panel-body" style="margin-bottom: -20px;">
        <div class="table-responsive" style="margin-top:-10px;padding-left:20px;">
            <table class="table table-hover table-striped" id="Encountergrid" style="width:80%;">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th style="padding-left:10px;">NSR  ID</th>
                        <th>NSC</th>
                        <th>NSOS</th>
                        <th>Encounter</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.Recipients)
            {
                        <tr>
                            <td class="left">@obj.FirstName</td>
                            <td class="left">@obj.LastName</td>
                            <td>@obj.NSRecipientID</td>
                            <td>@obj.NSRecipientID</td>
                            <td>
                                <a href="javascript:void(0);">
                                    @if (obj.NSRecipientID == 2)
                                    {
                                        <i class="fa fa-circle-thin  fa-1x"></i>
                                    }
                                    else if (obj.NSRecipientID == 3)
                                    {
                                        <i class="fa fa-check  fa-1x"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-remove  fa-1x"></i>
                                    }
                                </a>
                            </td>
                            <td class="center">

                                <a href="@Url.Action("Create", "encounters",new { NSID = obj.NSRecipientID, NavigatorID = obj.FK_NavigatorID })" , onclick="navigationClick()">

                                    @if (obj.NSRecipientID == 1)
                                    {
                                        <i class="fa fa-circle  fa-2x" style="color:deepskyblue;"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-circle  fa-2x" style="color:grey;"></i>
                                    }

                                </a>
                            </td>
                            <td>

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions</button>
                                    <ul class="ddlActions dropdown-menu">
                                        <li><a class="option" id="enrollment" tabindex="-1" href="#">Edit Enrollment</a></li>
                                        <li class="dropdown-submenu">
                                            <a class="option" id="encounter" href="#">Edit Encounter</a>
                                            <ul class="dropdown-menu">
                                                <li><a tabindex="-1" href="#">Enrollment 1</a></li>
                                                <li><a tabindex="-1" href="#">Enrollment 2</a></li>
                                                <li><a tabindex="-1" href="#">Enrollment 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="option" id="transfer" tabindex="-1" href="#">Transfer</a></li>
                                    </ul>
                                </div>


                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $('div.dropdown>ul.ddlActions a').click(function () {
            var id = $(this).attr('id');

            if (id == "enrollment") {
                window.location = '@Url.Action("Create", "Enrollment",new { @Id="1" })'
            }
        });

        function navigationClick() {

            var location = window.location.href;

            if (location.toLocaleLowerCase().lastIndexOf('encounters') != -1) {
                $('#selectedHeading').css('background-color', '#2481c6');
                $('#selectedSpan').html('<font style="font-size:25px">Assesment</font>');
            }
        }



        $(document).ready(function () {

            var location = window.location.href;
            if (location.toLocaleLowerCase().lastIndexOf('encounters') != -1) {
                $('#selectedHeading').css('background-color', '#2481c6');
                $('#selectedSpan').html('Assesment');
            }

            $('.dropdown-submenu a.option').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });

        });
    </script>
}

