﻿@using MvcCheckBoxList.Model
@model EWC_NSAA.ViewModels.NavigatorTransferInterimViewModel

<h2>Navigator Transfer Status</h2>

<p>
    @Html.ActionLink("Enrolled Recipients", "Index") |
    @Html.ActionLink("Initiated Navigator Transfer List", "IndexInitiated", "NavigatorTransfer", new { CurrentNavigatorID = Model.CurrentNavigatorID }, null) |
    @Html.ActionLink("Requested Navigator Transfer List", "IndexRequested", "NavigatorTransfer", new { CurrentNavigatorID = Model.CurrentNavigatorID }, null)
</p>

@if (TempData["FeedbackMessage"] != null)
{
    <div class="alert alert-info">
        <strong>@TempData["FeedbackMessage"]</strong>
    </div>
}

@using (Html.BeginForm("NavigatorTransferStatus", "NavigatorTransfer", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>

        @{ Html.RenderPartial("~/Views/Shared/_NavigatorStatus.cshtml", Model);}
    </div>
            }
